<nav class="storybooks" >
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo center" >StoryBooks</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/stories">Public Stories <i class="fas fa-users "id="hovered"></i></a></li>
            <li><a href="/dashboard">Dashboard <i class="fas fa-cogs " id="hovered"></i></a></li>
            <li><a href="/auth/logout">Logout <i class="fas fa-sign-out-alt "id="hovered"></i></a></li>
            <div class="image">
            <img src="../../img/selcouth-privacy-removebg-preview.png" alt="">
            </div>
        </ul>
    </div>
</nav>