<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Roboto:ital,wght@0,400;1,300;1,400&display=swap" rel="stylesheet">    

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel='icon' href='../img/selcouth.png' type='img'>
  <link rel="stylesheet" href="/css/changelog.css">
  <title>ASMI | Changelog</title>

</head>
<body>
    <nav>
    <div class="beacons"><a href="/"><img src="/img/selcouth.png" id="selcouth" alt=""></a>
    </div>
    <a href="/updates"><div class="changelog">
    <i class="fas fa-flag"><span> Changelog</span></i>   
    </div></a>
    </nav>

    <div class="top-part">
      <div class="top-part-heading">
        <a href="/updates"><i class="fas fa-long-arrow-alt-left"></i>Back to <b>Changelog</b></a>
        <h4>Branded affiliate portal and custom domains
        </h4>
      </div>
      <section class="all-posts">
        <!-- post-1 -->
       <div class="each-post">
        <div class="post-left-part">
          <div class="flag-part">
            <i class="far fa-flag"></i>&nbsp;&nbsp;<span>Published on <b>September 1, <br> 2020</span></b> 
          </div>
          <div class="avatar-changelog">
            <img src="/img/avatar-1.png" alt="">
            <span>By<b> Neal Jean</b></span>
          </div>
        </div>
        <div class="post-right-part">
          <img src="/img/changelog-1.png" class="shadow" alt="">
          <div class="enter-post">
            <div class="post-desc"><h4>Branded affiliate portal and custom domains
            </h4>
            <p>On our new Professional plan, customize your affiliate portal to express your brand! Our app now comes with the best-looking affiliate signup and affiliate portal on Shopify — choose your colors and fonts, and upload assets to make it look and feel like yours, with no coding required.
              <br><br>
            You can also add your own custom domain, like <a href="#">affiliates.myshop.com</a> so that you control your entire affiliate and customer journeys.</p>
            <img src="/img/changelog-2.png" alt="">
          </div>
          </div>
        </div>
      </div>
      <a href="https://www.heraldhq.com/" class="center"><img src="img/changelog-herald.png" alt=""></a>
</section>
</div>  

</body>
</html>