<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Roboto:ital,wght@0,400;1,300;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="icon" href="../img/selcouth.png" type="img" />
    <link rel="stylesheet" href="../css/contact.css" />
    <title>Contact</title>
  </head>
  <body>
    <form action="#">
      <h1>Contact Us</h1>
      <p class="form-text">
        Please take a moment to get in touch, we will get back to you shortly.
      </p>

      <div class="column">
        <label for="the-name">Your Name</label>
        <input type="text" name="name" id="the-name" />

        <label for="the-email">Email Address</label>
        <input type="email" name="email" id="the-email" />

        <label for="the-phone">Phone Number</label>
        <input type="tel" name="phone" id="the-phone" />
      </div>
      <div class="column">
        <label for="the-message">Message</label>
        <textarea name="message" id="the-message"></textarea>
        <button class="contact-btn">
          <a href="../views/index.html" class="rem-color">Submit</a>
        </button>
      </div>
      <a href="/"
        ><img
          src="../img/selcouth-privacy-removebg-preview.png"
          alt=""
          class="logo-contact"
      /></a>
    </form>
  </body>
</html>