<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Roboto:ital,wght@0,400;1,300;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/creators.css" />
    <link rel="icon" href="../img/selcouth.png" type="img" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Selcouth || For Creators</title>
  </head>
  <body>
    <div class="changelog-navbar">
      <a href="/"><div class="changelog-logo"></div></a>
      <a class="changelog-btn">
        <span class="clg-hamburger"></span>
        <span class="clg-hamburger"></span>
        <span class="clg-hamburger"></span>
      </a>
      <div class="menu">
        <a href="/pricing">Pricing</a>
        <a href="/shop">Marketplace</a>
        <a href="/updates">Updates</a>
        <a href="/login">For Creators</a>
      </div>
    </div>

    <div class="top-area">
      <div class="left-part">
        <span class="shopify">For Creators </span>
        <p>Creativity over <span>Everything</span></p>
        <p class="shopify-desc">
          The only fully customizable branded affiliate portal for creators.
        </p>
      </div>

      <div class="right-part">
        <img src="../img/content-creator.jpg" class="shopify-img" alt="" />
      </div>
    </div>
    <section class="creators-area">
      <div class="creator-left-part">
        <h1 class="creators-heading">About our Creators</h1>
        <p class="creators-desc">
          A social media influencer is the mainstream, influential person in
          social media networks, who promote products and services of a brand.
          You can also define social media influencer as a person who works in a
          certain industry and collaborate with followers in it. It is also an
          individual who is able to impact the individual’s purchases because of
          his authority or relationship with target customers. He can have his
          own blog with a reliable audience or a social media account, providing
          specific content interesting for his subscribers.
        </p>
      </div>
      <div class="creators-right-part">
        <img src="../img/creators.jpg" alt="" />
      </div>
    </section>
    <section class="influencers">
      <h4>Creators on our platform</h4>
      <div class="each-influencers">
        <a href="#"
          ><div class="individual-influencer-1 influencer-margin">
            <h4 class="individual-name">@casey</h4>
            <h4 class="individual-hits">13M</h4>
          </div></a
        >

        <a href="#"
          ><div class="individual-influencer-2 influencer-margin">
            <h4 class="individual-name">@KSI</h4>
            <h4 class="individual-hits">22M</h4>
          </div></a
        >

        <a href="#"
          ><div class="individual-influencer-3 influencer-margin">
            <h4 class="individual-name">@daviddobrik</h4>
            <h4 class="individual-hits">19M</h4>
          </div></a
        >

        <a href="#"
          ><div class="individual-influencer-4">
            <h4 class="individual-name">@sukilluser</h4>
            <h4 class="individual-hits">234k</h4>
          </div></a
        >
      </div>
    </section>
    <section class="brand-ambassadors">
      <h4>Creators Facilities</h4>
      <p>Affiliate marketing is modern word-of-mouth, at scale</p>
      <div class="brand-items">
        <div class="each-brand">
          <i class="fas fa-dollar-sign fa-3x"></i>
          <h4>Easy affiliate marketing</h4>
          <p>
            Manage and track affiliates with automatically generated links or
            discount codes. Everything just works.
          </p>
        </div>
        <div class="each-brand">
          <i class="far fa-compass fa-3x"></i>
          <h4>Fully branded portal</h4>
          <p>
            Add your logo and change the colors, fonts, and content of your
            affiliate sign up and portal without needing to code
          </p>
        </div>
        <div class="each-brand">
          <i class="fas fa-users fa-3x"></i>
          <h4>Measurable Income</h4>
          <p>
            Set your own commissions and automatically track the performance of
            each affiliate.
          </p>
        </div>
      </div>
    </section>
    <section class="marketing">
      <div class="marketing-left-part">
        <h4>We make Creators marketing easy as well</h4>
        <img src="../img/creators2.jpg" alt="" />
      </div>
      <div class="marketing-right-part">
        <div>
          <h6>Automatically track followers and engagement</h6>
          <p>
            No more manually browsing Instagram and updating numbers in a
            spreadsheet — we put everything you need in a convenient dashboard.
          </p>
        </div>

        <div>
          <h6>Instantly find creators who are a good fit</h6>
          <p>
            Connect your Instagram to instantly find all the creators who have
            tagged you before.
          </p>
        </div>

        <div>
          <h6>Reduce back-and-forth and automate tedious processes</h6>
          <p>
            Streamline your workflows: fulfill product samples by automatically
            creating orders with discounts applied.
          </p>
        </div>
      </div>
    </section>

    <section class="footer-merchants">
      <div class="footer-container">
        <div class="logo-footer">
          <img src="../img/selcouth-privacy-removebg-preview.png" id="selcouth" alt="" />
        </div>
        <div class="company-info">
          <h4>Company</h4>
          <a href="/login">For Creators</a>
          <a href="/terms">Terms and Conditions</a>
          <a href="/privacy">Privacy</a>
        </div>
        <div class="company-resources">
          <h4>Resources</h4>
          <a href="/pricing">Pricing</a>
          <a href="/blogs">Blog</a>
        </div>
        <div class="company-support">
          <h4>Support</h4>
          <a href="/contact">Help Centers</a>
          <a href="/updates">Updates</a>
        </div>
        <div class="backedby">
          <h4>Backed By</h4>
          <a href="#">support@selcouth.ai</a>
          <div class="socials">
            <i class="fab fa-instagram"></i><i class="fab fa-twitter"></i>
          </div>
        </div>
      </div>
    </section>
    <script>
      // merchant navbar
      $(".changelog-btn").on("click", function () {
        $(".menu").toggleClass("show");
      });
    </script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript">
      $(document).ready(function () {
        $(".menu-toggle").click(function () {
          $(".menu-toggle").toggleClass("active");
          $("ul li").toggleClass("active");
        });
      });
    </script>
    <script src="/js/app.js"></script>
    <script>
      let navbar = document.querySelector(".changelog-navbar");
      var scrollPrev = window.pageYOffset;
      window.onscroll = function () {
        var scrollCur = window.pageYOffset;
        if (scrollPrev > scrollCur) {
          navbar.style.top = "0";
        } else {
          navbar.style.top = "-90px";
        }
        scrollPrev = scrollCur;
      };
      $("nav ul li").click(function () {
        $(this).addClass("active").siblings().removeClass("active");
      });
    </script>
  </body>
</html>