<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Roboto:ital,wght@0,400;1,300;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel='icon' href='../img/selcouth.png' type='img'>
  <link rel="stylesheet" href="/css/forgot-pass.css">
  <title>SignIn</title>
</head>
<body>  
  <section class="second-section">
      <div class="circle circle-1"></div>    
      <div class="circle circle-2"></div>    
      <div class="circle circle-3"></div>
        <div class="circle-4"></div>
        <div class="circle-5"></div>
        <div class="circle-6"></div>
        </div>
        </div>      
    </section>
  <div class="signin-container">
    <div class="form-area">
      <p>Find your account</p>
      <p class="click">We will send you instructions for resetting your password</p>
      <div class="box">
       <form>
        <div class="input-field col s6">
          <input id="password" type="text" class="validate">
          <label>Email</label>
        </div>
        </form>
        <button class="signin-btn" id="signin-btn-email">
        <span>Reset Password</span>
         </button>
       </div> 
      <a href="/"><div class="logo-signin">
      <img id="selcouth" src="/img/selcouth.png" alt="">
       </div></a>
     </div>  
  </div> 
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>