<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Roboto:ital,wght@0,400;1,300;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel='icon' href='../img/selcouth.png' type='img'>
  <link rel="stylesheet" href="/css/gallery-user.css">
  <title>Selcouth || Gallery</title>
</head>
<body>
    <div class="gallery-image-container">

   
      <!-- sukiiuser -1 -->
      <div class="gallery-user" id="gallery-adjust">
        <!-- gallery-user-bio -->
        <div class="gallery-user-bio">
          <img src="img/sukiuser-img.jpeg" alt="" class="gallery-user-img">
          <p class="gallery-user-name">@sukiluser</p>
          <div class="gallery-user-socials">
            <i class="fas fa-envelope fa-2x"></i>
            <i class="fab fa-instagram fa-2x"></i>                
            <i class="fab fa-twitch fa-2x"></i>
            <i class="fab fa-tiktok fa-2x"></i>
          </div>
        </div>
          <div class="gallery-user-info">
            <p>Hi there! You can check out my other social media platforms and my current favorite items down below! If you want to engage with me on a more personal level shoot me a video request! :)</p>
          </div>

          <div class="gallery-user-hashtags">
            <a href="#">#BLM resources</a>
            <a href="#">Paypal</a>
            <a href="#">Tiktok</a>
            <a href="#">Instagram</a>
            <a href="#">Tap here to support me</a>
          </div>

          <div class="gallery-user-videos">
            <!-- first-video -->
            <div class="each-video">
              <video class="video-1" width="80" height="100" id="myVideo" autoplay muted loop>
                <source src="/video/video-1.mov">
              </video>
              <p class="video-info">Buy for $38.00</p>
            </div>
            <!-- second-video -->
            <div class="each-video">
              <video class="video-2" width="80" height="100" id="myVideo" autoplay muted loop>
                <source src="/video/video-2.mov">
              </video>
              <p>Buy for $25.00</p>

            </div>
          </div>
          <!-- shoutouts -->
          <div class="gallery-user-shoutouts">
            <h6>Request a personalized video</h6>
            <p>I'm doing shoutouts, giving feedback, and answering questions!</p>
            <button type="submit">Start $15 request</button>
          </div>
          <!-- gallery tiktok -->
          <div class="gallery-user-tiktok">
            <blockquote  class="tiktok-embed" cite="https://www.tiktok.com/@sukiluser/video/6803430853667015941" data-video-id="6803430853667015941" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@sukiluser" href="https://www.tiktok.com/@sukiluser">@sukiluser</a> <p>Duno what I was looking at for that millisecond 😂 <a title="fyp" target="_blank" href="https://www.tiktok.com/tag/fyp">##fyp</a></p> <a target="_blank" title="♬ Woah Pause - babygirlblasiian" href="https://www.tiktok.com/music/Woah-Pause-6606807330708851461">♬ Woah Pause - babygirlblasiian</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
          </div>           
       </div>

    </div>
  </div>
  <script src="/js/app.js"></script>
</body>
</html>