<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Roboto:ital,wght@0,400;1,300;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
  <link rel='icon' href='../img/selcouth.png' type='img'>
  <link rel="stylesheet" href="/css/glider.min.css">
  <link rel="stylesheet" href="/css/getting started.css">
  <title>Selcouth || Blog</title>
</head>
<body>
  <div class="menu">
    <div id="content" class="dropdown-content">
     <div class="articles-container">
       <h5 class="recent">Recent articles</h5>
       <div class="articles-area">


         <!-- article-1 -->
         <div class="each-article">
           <a href="">
           <img src="img/blog-card-2.jpg" class="article-img" alt="">
           <h4>Optimizing your links for clicks &#128170;</h4>
           <span>2 months ago</span>        
          </div></a>    


           <!-- <article-2--  --> -->
            <div class="each-article">
              <a href="">
              <img src="img/blog-card-11.jpeg" class="article-img" alt="">
              <h4>Building your email list&#127969;.</h4>
              <span>6 months ago</span>             
           </div></a>    

          <!-- articles - 3 -->
          <div class="each-article">
            <a href="">
            <img src="img/blog-card-9.jpeg" class="article-img" alt="">
            <h4>The Smart Link&#9889;</h4>
            <span>5 months ago</span>            
         </div></a>    

       <!-- article 4 -->
        <div class="each-article">
        <a href="">
        <img src="img/blog-card-8.jpg" class="article-img" alt="">
        <h4>Setting up with stripe&#127970;</h4>
        <span>5 months ago</span>       
         </a></div>
       </div>
       <div class="article-tags">Tags</div>

       <div class="other-info">
         <span>Research</span>
         <span>Tips</span>
       </div>
      </div>
    </div>
  </div>


<!-- small screen dropdown -->
<div class="overlay">
  <div class="three-dots"onclick="openMenu()">&hellip;</div>
 <a href="/"><img id="selcouth" src="/img/selcouth.png" alt=""></a>
</div>
<div class="menu-container" id="navbar">
  <span class="closebtn" onclick="closeMenu()">&times;</span>
  <div class="menu-content">
    <div class="top-part">
      <a href="/">Selcouth</a>
      <a href="/blogs">Blog</a>
      <a href="/tips">Tips</a>
      <a href="/research">Research</a>
      </div>
      <h4>Recent articles</h4>

      <div class="middle-part">
      <div class="container">
        <div class="carousel">
          <div class="track">
            <!-- card-1 -->
            <div class="card-overlay">
              <a href="/commissions" class="res-card">
                <img src="/img/blog-card-13.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
                <div class="overlay-header"><h5>Taking Commissions&#128104;</h5></div>
                <div class="overlay-month"><h6>6 months ago</h6></div>
              </a>
              </div>

              <!-- card-2 -->
              <div class="card-overlay">
                <a href="/featuring" class="res-card">
                  <img src="/img/blog-card-7.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
                  <div class="overlay-header"><h5>Featuring a video &#127916;</h5></div>
                  <div class="overlay-month"><h6>5 months ago</h6></div>
                </a>
                </div>
  

                <!-- card-3 -->


                <div class="card-overlay">
                  <a href="/gettingstarted" class="res-card">
                    <img src="/img/blog-card-8.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
                    <div class="overlay-header"><h5>Setting up with stripe&#127970;</h5></div>
                    <div class="overlay-month"><h6>5 months ago</h6></div>
                  </a>
                  </div>


              <!-- card-4 -->

              <div class="card-overlay">
                <a href="/links" class="res-card">
                  <img src="/img/blog-card-9.jpeg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
                  <div class="overlay-header"><h5>The Smart Link</h5></div>
                  <div class="overlay-month"><h6>5 months ago</h6></div>
                </a>
                </div>



                <!-- card-5 -->


                <div class="card-overlay">
                  <a href="/gettingstarted" class="res-card">
                    <img src="/img/blog-card-10.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
                    <div class="overlay-header"><h5>Monetization for content creators</h5></div>
                    <div class="overlay-month"><h6>4 months ago</h6></div>
                  </a>
                  </div>

                  <!-- card -6 -->
                  <div class="card-overlay">
                    <a href="/gettingstarted" class="res-card">
                      <img src="/img/blog-card-2.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
                      <div class="overlay-header"><h5>Optimizing your links for clicks</h5></div>
                      <div class="overlay-month"><h6>7 months ago</h6></div>
                    </a>
                  </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-part">
        <p>Tags</p>
        <a href="/research">Research</a><a href="/tips">Tips</a>
      </div>
      </div>
    </div>
  </div>
</div>
  <a href="#"><i class="fas fa-angle-up progressCounter fa-2x arrow" id="arrow"></i></a>
    <section class="first-section" id="responsive-hide">
        <div class="navbar">
          <!-- logo -->
          <div class="logo-div">
            <a href="/" class="blog-logo"><img id="selcouth" src="/img/selcouth.png" alt=""></a>
          </div>
          <!-- navbar-items -->
          <div class="blog-navbar-items">
            <a href="/blogs" class="navbar-item">Blog</a>
            <a href="/gallery" class="navbar-item">Gallery</a>
            <a href="/shop" class="navbar-item">Shop</a>
            <a href="/merchants"class="navbar-item">Merchants</a>
            <a href="#" class="drop-down"><i onclick="myfun()" id="clicks" class="dropdown fas fa-ellipsis-h"></a></i>
          </div>
        </div> 
      </section>



  <!-- blog-image SECTION -->
  <div class="blog-image"></div>

  <!-- blog-card-content -->
  <div class="blog-card-content">
    <div class="card-content">
      <h2 class="card-title"><span>&#128678;</span>Getting Started with your Selcouth Profile</h2>
      <p class="card-small"><a href="#">Tips</a>&nbsp;&#9679; Jan 23, 2020</p>
      <div class="card-paragraph">
        <div class="card-content-main">
          <p>We're about to walk through everything you need to get off to a good start on Selcouth — let's do this💪</p>
         <p>⏱️ &nbsp;This whole thing should take less than 10 minutes — next to each step, we'll give you a time estimate so that you can be sure to stay on track.
        </p>    
        <div class="each-content">
          <!-- sign up -->
          <div class="each-content-paragraph">
            <h6>1️⃣ Sign up</h6>
            <p>&#9201 Estimated time: 1 minute</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae nesciunt quia ipsa odit. Voluptatum, quidem sed architecto sint temporibus consequatur!</p>
            <p>💌 In cases where your email isn't linked, you'll need to link your Facebook or Google account so that we can reach you — no spam, we promise!</p>

            <p>You're in! It only gets better from here. 😎</p>

          </div>

          <!-- personalize your page -->
          <div class="each-content-paragraph">
            <h6>2️⃣ Personalize your page 🔥🔥🔥</h6>
             <p> ⏱ Estimated time: 1 minute</p>
              
             <p> You should be in your <a href="#">Account</a> page now on the Appearance tab. Try clicking on one of the preset themes, or one of the high-res photos.</p>
              
              <p>💡 Pro tip: The live preview changes instantly to show you exactly what's going on!</p>
              
             <p> There's a lot to explore here but let's move on for now — remember that you can always come back later and really make your profile shine.</p>
          </div>
          
          <!-- add some links -->
            <div class="each-content-paragraph">
            <h6>3️⃣ Add some links 🔗</h6>
             <p> ⏱ Estimated time: 2 minutes</p>
              
             <p> Now click on the Links tab next to Appearance at the top of your <a href="#">Account</a> page.</p>
              
              <p>Here you can drive traffic from your Selcouth profile to affiliate links, content, or anywhere else you want your audience to go. Click the "Add new link" button to try adding a link!</p>
              
             <p> 😉 Try linking to Selcouth at https://beacons.ai if you can't think of anything else.</p>

             <p>Farther down the page you can enter your social handles. Using icons that people recognize increases click-through rates!</p>
          </div>
          <!-- activate your email list -->
          <div class="each-content-paragraph">
            <h6>4️⃣ Activate your email list 📬</h6>
             <p> ⏱ Estimated time: like, 0.1 minutes?</p>
              
             <p> On the Links tab, you'll also see your email list. Toggle it on to add a rectangular text field to your page where visitors can leave their emails with you! You can move the text field above the other links by going to the Account section under the menu.</p>            
          </div>
          <!-- engage your audience -->
          <div class="each-content-paragraph">
            <h6>5️⃣ Engage your audience 🎥</h6>
             <p> ⏱ Estimated time: 1 minute</p>
              
             <p> Welcome to the first monetization tool on your Selcouth page: the Requests tab.</p>   
             <p>This is the coolest feature that we've built so far — a way for you to engage with your audience through all kinds of commissions. In addition to videos, we let you submit images, pdfs, audio files, etc as responses.</p>        
             <p>The most common use case is personalized video shoutouts. You can give advice, wish people happy birthday, or just open it up for questions. It's also up to you whether you want to charge for your videos, or just engage for free and build deeper connections with your fans 🌈</p>
             <p>Check out <a href="#">Suki's Profile</a> for some great examples. Every creator is different though, so we're excited to see where your imagination leads!</p>
          </div>
          <!-- stock your store -->
          <div class="each-content-paragraph">
            <h6>6️⃣ Stock your store 🏪</h6>
             <p> ⏱ Estimated time: 2 minutes</p>            
             <p> The second monetization tool is the Store tab. You can upload and sell digital goods like how-to video tutorials, workout videos, ebooks, and more! 🤩</p>            
          </div>
          <!-- post your beacons link -->
          <div class="each-content-paragraph">
            <h6>7️⃣ Post your Selcouth link 🏁</h6>
             <p> Your Selcouth profile is now ready to go! Here's what you need to do to get it in front of an audience:</p>            
             <ul>
               <li>1. Find your personalized link at the top of the live preview</li>
               <li>2. Click the "Copy Link" button</li>
               <li>3. Go to your Instagram profile and click "Edit Profile"</li>
               <li>4. Paste your Selcouth link in "Website"</li>
             </ul>     
             <p>⭐️ You're done! Best of all, your Selcouth link works like any other link, so you can put it anywhere.</p>   
          </div>
          <!-- animate your links -->
          <div class="each-content-paragraph">
            <h6>🏆 Bonus: Animate your links!</h6>
             <p> Wow, give yourself a pat on the back for making it this far 👏 </p>            
             <p>To highlight links on your page, you can add a thumbnail or an animation (for example, making the link bounce up and down) by clicking on the symbols to the left of the trash can on each link.
            </p>            
            <div>
              <img src="img/blogcontent.png" alt="">
              <span>The red symbol lets you add an animation and the green one lets you add a thumbnail.
              </span>
            </div>
             <br>
            
            <p>Check out my <a href="#">page</a> for an example, and email me anytime at <a href="#">neal@beacons.ai</a> if you need some help!</p>
          </div>
        </div>      
     </div>
     
    </div>
    </div>
  </div>

  <!-- user avatar -->
    <div class="user-profile">
    <div class="user-avatar-box">
    <img src="/img/user-avatar.png" alt="" class="user-avatar">
    </div>
    <div class="user-info">
    <h6>Neal Jean</h6>
    <p>Co-founder, Beacon. Shoot your shot</p>
    <span>8 posts &#9679; San Francisco</span>
    </div>  
</div>


       <!-- responsive cards (SMALL SCREENS) -->
    <div class="responsive-cards small-screen">  
      <h3 class="res-recommendation">Recommended For You</h3>
    <button class="gliders-prev"><i class="fas fa-long-arrow-alt-left res-btn"></i>
    </button>
    <div class="gliders res-glider" >
      <!-- card-1 -->
      <div class="card">
        <a href="/commissions" class="res-card">
          <img src="/img/blog-card-13.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
          <h2 class="res-header">Tips</h2>
          <div><h5>Taking Commissions&#128104;</h5></div>
              <div><h6>6 months ago &nbsp;&bull;&nbsp;<span>&nbsp;3 mins read</span></h6></div>
        </a>
      </div>

      <!-- card-2 -->
      <div class="card">
        <a href="/links" class="res-card">
          <img src="/img/blog-card-2.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
          <h2 class="res-header">Tips</h2>
          <div><h5>Optimizing your links for clicks</h5></div>
              <div><h6>7 months ago &nbsp;&bull;&nbsp;<span>&nbsp;3 mins read</span></h6></div>
        </a>
      </div>
      <!-- card-3 -->
      <div class="card">
        <a href="/links" class="res-card">
          <img src="/img/blog-card-3.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
          <h2 class="res-header">Tips</h2>
          <div><h5>Leveling up your links &#128279;</h5></div>
              <div><h6>4 months ago &nbsp;&bull;&nbsp;<span>&nbsp;2 mins read</span></h6></div>
        </a>
      </div>

      <!-- card-4 -->

      <div class="card">
        <a href="/featuring" class="res-card">
          <img src="/img/blog-card-4.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
          <h2 class="res-header">Tips</h2>
          <div><h5>Customizing your page 	&#127912;</h5></div>
              <div><h6>4 months ago &nbsp;&bull;&nbsp;<span>&nbsp;3 mins read</span></h6></div>
        </a>
      </div>

      <!-- card-5 -->

      <div class="card">
        <a href="/gettingstarted" class="res-card">
          <img src="/img/blog-card-5.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
          <h2 class="res-header">Tips</h2>
          <div><h5>Your weekly update email &#129299</h5></div>
              <div><h6>4 months ago &nbsp;&bull;&nbsp;<span>&nbsp;3 mins read</span></h6></div>
        </a>
      </div>

      <!-- card-6 -->
      <div class="card">
        <a href="featuring a video.html" class="res-card">
          <img src="/img/blog-card-6.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
          <h2 class="res-header">Tips</h2>
          <div><h5>Enabling visitors to support your content&#129395;</h5></div>
              <div><h6>5 months ago &nbsp;&bull;&nbsp;<span>&nbsp;2 mins read</span></h6></div>
        </a>
      </div>

    <!-- card-7 -->
    <div class="card">
    <a href="/featuring" class="res-card">
      <img src="/img/blog-card-7.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
      <h2 class="res-header">Tips</h2>
      <div><h5>Featuring a video &#127916;</h5></div>
          <div><h6>5 months ago &nbsp;&bull;&nbsp;<span>&nbsp;1 min read</span></h6></div>
    </a>
    </div>


    <!-- card-8 -->

    <div class="card">
    <a href="/featuring" class="res-card">
      <img src="/img/blog-card-8.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
      <h2 class="res-header">Tips</h2>
      <div><h5>Setting up with stripe&#127970;</h5></div>
          <div><h6>5 months ago &nbsp;&bull;&nbsp;<span>&nbsp;1 min read</span></h6></div>
    </a>
    </div>

    <!-- card-9 -->
    <div class="card">
    <a href="/gettingstarted" class="res-card">
      <img src="/img/blog-card-9.jpeg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
      <h2 class="res-header">Tips</h2>
      <div><h5>The Smart Link</h5></div>
          <div><h6>5 months ago &nbsp;&bull;&nbsp;<span>&nbsp;2 mins read</span></h6></div>
       </a>
    </div>

    <!-- card-10 -->
    <div class="card">
      <a href="/featuring" class="res-card">
      <img src="/img/blog-card-10.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
      <h2 class="res-header">Tips</h2>
      <div><h5>Monetization for content creators</h5></div>
          <div><h6>5 months ago &nbsp;&bull;&nbsp;<span>&nbsp;2 mins read</span></h6></div>
    </a>
    </div>
    </div>
    <button class="gliders-next"><i class="fas fa-long-arrow-alt-right res-btn"></i>
    </button>
  </div>


    <!-- responsive cards (TABLETS) -->
    <div class="responsive-cards big-screen">  
      <h3 class="res-recommendation">Recommended For You</h3>
    <button class="glider-prev"><i class="fas fa-long-arrow-alt-left res-btn"></i>
    </button>
    <div class="glider res-glider">
      <!-- card-1 -->
      <div class="card">
        <a href="getting started.html" class="res-card">
          <img src="/img/blog-card-13.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
          <h2 class="res-header">Tips</h2>
          <div><h5>Taking Commissions&#128104;</h5></div>
              <div><h6>6 months ago &nbsp;&bull;&nbsp;<span>&nbsp;3 mins read</span></h6></div>
        </a>
      </div>

      <!-- card-2 -->
      <div class="card">
        <a href="/featuring" class="res-card">
          <img src="/img/blog-card-2.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
          <h2 class="res-header">Tips</h2>
          <div><h5>Optimizing your links for clicks</h5></div>
              <div><h6>7 months ago &nbsp;&bull;&nbsp;<span>&nbsp;3 mins read</span></h6></div>
        </a>
      </div>
      <!-- card-3 -->
      <div class="card">
        <a href="/links" class="res-card">
          <img src="/img/blog-card-3.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
          <h2 class="res-header">Tips</h2>
          <div><h5>Leveling up your links &#128279;</h5></div>
              <div><h6>4 months ago &nbsp;&bull;&nbsp;<span>&nbsp;2 mins read</span></h6></div>
        </a>
      </div>

      <!-- card-4 -->

      <div class="card">
        <a href="/featuring" class="res-card">
          <img src="/img/blog-card-4.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
          <h2 class="res-header">Tips</h2>
          <div><h5>Customizing your page 	&#127912;</h5></div>
              <div><h6>4 months ago &nbsp;&bull;&nbsp;<span>&nbsp;3 mins read</span></h6></div>
        </a>
      </div>

      <!-- card-5 -->

      <div class="card">
        <a href="/gettingstarted" class="res-card">
          <img src="/img/blog-card-5.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
          <h2 class="res-header">Tips</h2>
          <div><h5>Your weekly update email &#129299</h5></div>
              <div><h6>4 months ago &nbsp;&bull;&nbsp;<span>&nbsp;3 mins read</span></h6></div>
        </a>
      </div>

      <!-- card-6 -->
      <div class="card">
        <a href="/featuring" class="res-card">
          <img src="/img/blog-card-6.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
          <h2 class="res-header">Tips</h2>
          <div><h5>Enabling visitors to support your content&#129395;</h5></div>
              <div><h6>5 months ago &nbsp;&bull;&nbsp;<span>&nbsp;2 mins read</span></h6></div>
        </a>
      </div>

    <!-- card-7 -->
    <div class="card">
    <a href="/gettingstarted" class="res-card">
      <img src="/img/blog-card-7.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
      <h2 class="res-header">Tips</h2>
      <div><h5>Featuring a video &#127916;</h5></div>
          <div><h6>5 months ago &nbsp;&bull;&nbsp;<span>&nbsp;1 min read</span></h6></div>
    </a>
    </div>


    <!-- card-8 -->

    <div class="card">
    <a href="/featuring" class="res-card">
      <img src="/img/blog-card-8.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
      <h2 class="res-header">Tips</h2>
      <div><h5>Setting up with stripe&#127970;</h5></div>
          <div><h6>5 months ago &nbsp;&bull;&nbsp;<span>&nbsp;1 min read</span></h6></div>
    </a>
    </div>

    <!-- card-9 -->
    <div class="card">
    <a href="/gettingstarted" class="res-card">
      <img src="/img/blog-card-9.jpeg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
      <h2 class="res-header">Tips</h2>
      <div><h5>The Smart Link</h5></div>
          <div><h6>5 months ago &nbsp;&bull;&nbsp;<span>&nbsp;2 mins read</span></h6></div>
       </a>
    </div>

    <!-- card-10 -->
    <div class="card">
      <a href="/featuring" class="res-card">
      <img src="/img/blog-card-10.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
      <h2 class="res-header">Tips</h2>
      <div><h5>Monetization for content creators</h5></div>
          <div><h6>5 months ago &nbsp;&bull;&nbsp;<span>&nbsp;2 mins read</span></h6></div>
    </a>
    </div>
    </div>
    <button class="glider-next"><i class="fas fa-long-arrow-alt-right res-btn"></i>
    </button>
  </div>
<!-- recommendation -->
  <div class="recommendation" id="responsive-hide">
    <h3 class="recommendation">Recommended For You</h3>
  </div>

<!-- REST OF THE CARDS -->
<div class="card-container" id="responsive-hide">
  <!-- CARD-3 -->
      <a href="/commissions" class="main-card">
        <img src="/img/blog-card-13.jpg" alt="" class="main-card-img"><img src="/img/avatar-1.png" alt="" class="card-avatar-1">
        <h2 class="tips-card">Tips</h2>
        <div><h5>Taking Commissions&#128104;</h5></div>
            <div><h6>6 months ago &nbsp;&bull;&nbsp;<span>&nbsp;3 mins read</span></h6></div>
      </a>

      <!-- CARD-4 -->
      <a href="/featuring" class="main-card main-card-4">
        <img src="/img/blog-card-14.jpg" alt="" class="main-card-img">
        <img src="/img/avatar-1.png" alt="" class="card-avatar-1">
        <h2 class="tips-card">Tips</h2>

        <div><h5>&#128184;How much money do Youtubers really make?</h5></div>
            <div><h6>7 months ago &nbsp;&bull;&nbsp;<span>&nbsp;1 min read</span></h6></div>
      </a>

      <!-- CARD-5 -->

      <a href="/gettingstarted" class="main-card main-card-5">
        <img src="/img/blog-card-15.jpg" alt="" class="main-card-img">
        <img src="/img/avatar-1.png" alt="" class="card-avatar-1">
        <h2 class="tips-card">Tips</h2>
        <div><h5>&#128678;Getting started with your Selcouth profile</h5></div>
            <div><h6>7 months ago &nbsp;&bull;&nbsp;<span>&nbsp;3 mins read</span></h6></div>
      </a>
</div>
  
  <section class="footer">
      <p>Selcouth Blog &copy;2020&nbsp; &bull; &nbsp;Published with Ghost</p>
     <a href="https://www.facebook.com/Selcouth_Technology-447776299305161"><i class="fab fa-facebook-square fb fa-2x"></i></a>
     <a href="https://twitter.com/"><i class="fab fa-twitter fa-2x twitter"></i></a>
      <p>Javascript license information</p>
  </section>
  <script src="/js/overlay-slider.js"></script>
  <script>
        function closeMenu(){
  document.getElementById("navbar").style.height = "0%";
  document.getElementById('arrow').style.zIndex = '1';

}
function openMenu(){
  document.getElementById("navbar").style.height = "100%";
  document.getElementById('arrow').style.zIndex = '-1';
}
  </script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/js/glider.min.js"></script>
<script src="/js/app.js"></script>
<script>
    $(".progressCounter").progressScroll();
</script>
</body>
</html>