<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Roboto:ital,wght@0,400;1,300;1,400&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel='icon' href='../img/selcouth.png' type='img'>
  <link rel="stylesheet" href="/css/foodanddrink.css">
  <title>Selcouth || shop </title>
</head>
<body>
  <div class="container">
    <!-- first-section -->
    <section class="first-section">
      <div class="navbar">
        <!-- logo -->
          <a href="/" class="logo"><img id="selcouth" src="/img/selcouth.png" alt=""></a>
          <a href="/" class="logo-only"><img id="selcouth3" src="/img/selcouth.png" alt=""></a>
        <!-- navbar-items -->
        <div class="navbar-items">
          <a href="/blogs" class="navbar-item">Blog</a>
          <a href="/gallery" class="navbar-item">Gallery</a>
          <a href="/shop" class="navbar-item">Shop</a>
          <a href="/merchants"class="navbar-item">Merchants</a>
          </div>
      </div>
        <!-- signin button -->
        <div class="drop-down-container">
          <div class="signin">
            <a href="/signup">Sign In</a>
          </div> 
        </div>
       

        <!-- menubar -->
         <div class="dropdown" >
           <button  onclick="show_hide()" class="button">&#9776;</button>
           <!-- drop-content -->
           <div style="display: none;" id="drop-content" >
            <a href="/blogs">Blog</a>
             <a href="/gallery">Gallery</a>
             <a href="/shop">Shop</a>
             <a href="/merchants">Merchants</a>         
           </div>
         </div>
    </section>
    <!-- second section -->

   <section class="second-section">   
      <div class="circle circle-1"></div>    
      <div class="circle circle-2"></div>    
      <div class="circle circle-3"></div>    
    </section>

    <div class="shop-top-area">
      <div class="shop-right-part">
        <a href="/shop"><p>The Shop <i class="fas fa-chevron-right"></i></p></a>
        <h4 class="shop-heading">Home</h4>
      </div>
      <div class="shop-left-part">
        <select class="select">
          <option selected >Newest arrivals</option>
          <option value="Name1">Name: A &#8594; Z</option>
          <option value="Name2">Name: Z &#8594; A</option>
          <option value="Price low">Price: Low &#8594; High</option>
          <option value="Price high">Price: High &#8594; Low</option>
          <option value="Oldest products">Oldest products</option>
          <option value="Commission low">Commission: Low &#8594; High</option>
          <option value="Commission high">Commission: High &#8594; Low</option>
        </select>
      </div>
    </div>
    
    <section class="shop-content">

      <!-- shop-item-1 -->
      <div class="shop-item">
        <div class="shop-image">
          <img src="/img/bags-1.jpg" class="modal-open" data-modal="modal1"></img>
          <div class="add-product modal-open" data-modal="modal10">
            <span><i class="fas fa-plus fa-2x"></i></span>
           <h6 class="add-product-title">Add product</h6>       
          </div>     
        </div>            
        <div class="shop-item-description">          
          <h5 class="shop-item-name">ZOE TOTE</h5>
          <div class="item-by">
            <small>Sold by</small>
            <h6>Threads by Lulu</h6>
          </div>
          <div class="shop-item-price">
            <h6>Price</h6>
            <h6>$88.00</h6>
          </div>
          <div class="shop-item-commission">
            <h6>You earn</h6>
            <h6>$13.20</h6>
          </div>
        </div>
      </div>


        <!-- shop-item-1-modal -1 -->
  <div class="modal" id="modal1">
    <div class="modal-content">
      <button class="icon modal-close">&#10005;</button>
      <div class="modal-body">
        <section id="section-slider">
          <div id='slider-container'>
                  <div id="slider">
                      <div class="img-slider">
                         <img src="/shop-glider/glider-1.jpg">
                         <p class="img-number">1/2</p> 
                      </div>
                      <div class="img-slider">
                         <img src="/shop-glider/glider-2.jpg">
                         <p class="img-number">2/2</p> 
                      </div>               
                  </div>
              <button id="prev"><i class="fas fa-chevron-left fa-2x"></i></button>
              <button id="next"><i class="fas fa-chevron-right fa-2x"></i></button>
          </div>
      </section> 
        <div class="shop-popup-content">
          <h6 class="popup-name">ZOE TOTE</h6>
          <div class="item-by">
            <small>Sold by</small>
            <h6>Threads by Lulu</h6>
          </div>
          <p>Our custom designed totes are perfect for a weekend gateway</p>
          <div class="shop-item-price">
            <h6>Price</h6>
            <h6>$88.00</h6>
          </div>
          <p class="sign-in-desc">If you have a non-affiliate account, please sign in to add this product to your Selcouth page.</p>
          <button class="shop-popup-btn"> Sign In</button>
          <div class="no-account">
            <p>Don't have an account?</p>
            <a href="/">Join the waitlist</a>
          </div>
        </div>
      </div>     
    </div>
  </div>



<!-- add product popup modal -->

  <div class="modal" id="modal10">
    <div class="modal-content model-content-add-product">
      <button class="icon modal-close">&#10005;</button>
      <div class="modal-body">       
        <div class="add-product-popup">
          <p>If you have a non-affiliate account, please sign in to add this product to your Selcouth page.</p>
          <button class="add-product-popup-btn">Sign In</button>
          <div class="no-account">
            <p>Don't have an account?</p>
            <a href="/">Join the waitlist</a>
          </div>
        </div>
      </div>     
    </div>
  </div>


  <!-- shop-item-2 -modal-2 -->
  <div class="shop-item">
    <div class="shop-image">
      <img src="/img/bags-3.jpg" class="modal-open" data-modal="modal2"></img>
      <div class="add-product modal-open" data-modal="modal10">
        <span><i class="fas fa-plus fa-2x"></i></span>
       <h6 class="add-product-title">Add product</h6>       
      </div>     
    </div>            
    <div class="shop-item-description">          
      <h5 class="shop-item-name">BELLA TOTE</h5>
      <div class="item-by">
        <small>Sold by</small>
        <h6>Threads by Lulu</h6>
      </div>
      <div class="shop-item-price">
        <h6>Price</h6>
        <h6>$88.00</h6>
      </div>
      <div class="shop-item-commission">
        <h6>You earn</h6>
        <h6>$13.20</h6>
      </div>
    </div>
  </div>
<div class="modal" id="modal2">
<div class="modal-content">
  <button class="icon modal-close">&#10005;</button>
  <div class="modal-body">
    <section id="section-slider">
      <div id='slider-container'>
              <div id="slider-1">
                  <div class="img-slider">
                     <img src="/shop-glider/glider-3.jpg">
                     <p class="img-number">1/2</p> 
                  </div>
                  <div class="img-slider">
                     <img src="/shop-glider/glider-4.jpg">
                     <p class="img-number">2/2</p> 
                  </div>               
              </div>
          <button id="prev-1"><i class="fas fa-chevron-left fa-2x"></i></button>
          <button id="next-1"><i class="fas fa-chevron-right fa-2x"></i></button>
      </div>
  </section> 
    <div class="shop-popup-content">
      <h6 class="popup-name">ZOE TOTE</h6>
      <div class="item-by">
        <small>Sold by</small>
        <h6>Threads by Lulu</h6>
      </div>
      <p>Our custom designed totes are perfect for a weekend gateway</p>
      <div class="shop-item-price">
        <h6>Price</h6>
        <h6>$88.00</h6>
      </div>
      <p class="sign-in-desc">If you have a non-affiliate account, please sign in to add this product to your Selcouth page.</p>
      <button class="shop-popup-btn">Sign In</button>
      <div class="no-account">
        <p>Don't have an account?</p>
        <a href="/">Join the waitlist</a>
      </div>
    </div>
  </div>     
</div>
</div>
  


  <!-- shop-item-3 -modal-3 -->
  <div class="shop-item">
    <div class="shop-image">
      <img src="/img/bags-4.jpg" class="modal-open" data-modal="modal3"></img>
      <div class="add-product modal-open" data-modal="modal10">
        <span><i class="fas fa-plus fa-2x"></i></span>
       <h6 class="add-product-title">Add product</h6>       
      </div>     
    </div>            
    <div class="shop-item-description">          
      <h5 class="shop-item-name">Mi Wifi Range Extender Pro</h5>
      <div class="item-by">
        <small>Sold by</small>
        <h6>Xiaoteks</h6>
      </div>
      <div class="shop-item-price">
        <h6>Price</h6>
        <h6>$25.99</h6>
      </div>
      <div class="shop-item-commission">
        <h6>You earn</h6>
        <h6>$2.92</h6>
      </div>
    </div>
  </div>
<div class="modal" id="modal3">
<div class="modal-content">
  <button class="icon modal-close">&#10005;</button>
  <div class="modal-body">
    <section id="section-slider">
      <div id='slider-container'>
              <div id="slider-2">
                  <div class="img-slider">
                     <img src="/shop-glider/glider-5.jpg">
                     <p class="img-number">1/3</p> 
                  </div>
                  <div class="img-slider">
                     <img src="/shop-glider/glider-6.jpg">
                     <p class="img-number">2/3</p> 
                  </div>               
                  <div class="img-slider">
                     <img src="/shop-glider/glider-7.jpg">
                     <p class="img-number">3/2</p> 
                  </div>               
              </div>
          <button id="prev-2"><i class="fas fa-chevron-left fa-2x"></i></button>
          <button id="next-2"><i class="fas fa-chevron-right fa-2x"></i></button>
      </div>
  </section> 
    <div class="shop-popup-content">
      <h6 class="popup-name">Mi Wifi Range Extender Pro (CN Plug / Black)</h6>
      <div class="item-by">
        <small>Sold by</small>
        <h6>Xiaoteks</h6>
      </div>
      <p>Our custom designed totes are perfect for a weekend gateway</p>
      <div class="shop-item-price">
        <h6>Price</h6>
        <h6>$25.99</h6>
      </div>
      <p class="sign-in-desc">Tired of Wi-Fi “dead zone”? Mi Wi-Fi Range Extender Pro can help you easily connect to the network. Add Wi-Fi extenders to vastly speed up your gaming and movie-watching experience. The Mi Wi-Fi Range Extender Pro now comes with a 2×2 external antenna to maintain a transmission rate of 300Mbps while also increasing signal stability. <br> <br>
        With Modem Function: No <br>
        Type: Wireless <br>
        Wired Transfer Rate: 10/100/1000Mbps <br>
        WAN Ports: 1 x10/100/1000Mbps <br>
        Number of USB Interfaces: None <br>
        Wi-Fi Supported Frequency: 2.4G <br>
        5G Wi-Fi Transmission Rate: None <br>
        Max. LAN Data Rate: 300Mbps <br>
        Standards And Protocols: Wi-Fi 802.11n <br>
        Wi-Fi Transmission Standard: 802.11n <br>
        2.4G Wi-Fi Transmission Rate: 300 Mbps <br>
        Application: home
      </p>
      <button class="shop-popup-btn">Sign In</button>
      <div class="no-account">
        <p>Don't have an account?</p>
        <a href="/">Join the waitlist</a>
      </div>
    </div>
  </div>     
</div>
</div>
<!-- shop-item-4 modal-4 -->

<div class="shop-item">
  <div class="shop-image">
    <img src="/img/bags-5.jpg" class="modal-open" data-modal="modal4"></img>
    <div class="add-product modal-open" data-modal="modal10">
      <span><i class="fas fa-plus fa-2x"></i></span>
     <h6 class="add-product-title">Add product</h6>       
    </div>     
  </div>            
  <div class="shop-item-description">          
    <h5 class="shop-item-name">BLAKELY PILLOW</h5>
    <div class="item-by">
      <small>Sold by</small>
      <h6>Threads by Lulu</h6>
    </div>
    <div class="shop-item-price">
      <h6>Price</h6>
      <h6>$98.00</h6>
    </div>
    <div class="shop-item-commission">
      <h6>You earn</h6>
      <h6>$2.92</h6>
    </div>
  </div>
</div>
<div class="modal" id="modal4">
<div class="modal-content">
<button class="icon modal-close">&#10005;</button>
<div class="modal-body">
  <section id="section-slider">
    <div id='slider-container'>
            <div id="slider-3">
                <div class="img-slider">
                   <img src="/shop-glider/glider-8.jpg">
                   <p class="img-number">1/2</p> 
                </div>
                <div class="img-slider">
                   <img src="/shop-glider/glider-9.jpg">
                   <p class="img-number">2/2</p> 
                </div>                                     
            </div>
        <button id="prev-3"><i class="fas fa-chevron-left fa-2x"></i></button>
        <button id="next-3"><i class="fas fa-chevron-right fa-2x"></i></button>
    </div>
</section> 
  <div class="shop-popup-content">
    <h6 class="popup-name">BLAKELY PILLOW</h6>
    <div class="item-by">
      <small>Sold by</small>
      <h6>Threads by Lulu</h6>
    </div>
    <p>Our pillowcases add the perfect accent to any room. Go soft and snuggly with 100% velveteen fabric. <br> <br>
       Care:
        <li> Vivid print that will never fade after washing</li>
        <li>Easy care, machine wash delicate cycle in cold water, lay flat to dry, do not bleach, can also be dry cleaned</li>
    </p>
    <div class="shop-item-price">
      <h6>Price</h6>
      <h6>$98.00</h6>
    </div>
    <button class="shop-popup-btn">Sign In</button>
    <div class="no-account">
      <p>Don't have an account?</p>
      <a href="/">Join the waitlist</a>
    </div>
  </div>
</div>     
</div>
</div>

<!-- shop-item-4 modal-4 -->

<div class="shop-item">
  <div class="shop-image">
    <img src="/img/bags-5.jpg" class="modal-open" data-modal="modal4"></img>
    <div class="add-product modal-open" data-modal="modal10">
      <span><i class="fas fa-plus fa-2x"></i></span>
     <h6 class="add-product-title">Add product</h6>       
    </div>     
  </div>            
  <div class="shop-item-description">          
    <h5 class="shop-item-name">BLAKELY PILLOW</h5>
    <div class="item-by">
      <small>Sold by</small>
      <h6>Threads by Lulu</h6>
    </div>
    <div class="shop-item-price">
      <h6>Price</h6>
      <h6>$98.00</h6>
    </div>
    <div class="shop-item-commission">
      <h6>You earn</h6>
      <h6>$2.92</h6>
    </div>
  </div>
</div>
<div class="modal" id="modal4">
<div class="modal-content">
<button class="icon modal-close">&#10005;</button>
<div class="modal-body">
  <section id="section-slider">
    <div id='slider-container'>
            <div id="slider-3">
                <div class="img-slider">
                   <img src="/shop-glider/glider-8.jpg">
                   <p class="img-number">1/2</p> 
                </div>
                <div class="img-slider">
                   <img src="/shop-glider/glider-9.jpg">
                   <p class="img-number">2/2</p> 
                </div>                                     
            </div>
        <button id="prev-3"><i class="fas fa-chevron-left fa-2x"></i></button>
        <button id="next-3"><i class="fas fa-chevron-right fa-2x"></i></button>
    </div>
</section> 
  <div class="shop-popup-content">
    <h6 class="popup-name">BLAKELY PILLOW</h6>
    <div class="item-by">
      <small>Sold by</small>
      <h6>Threads by Lulu</h6>
    </div>
    <p>Our pillowcases add the perfect accent to any room. Go soft and snuggly with 100% velveteen fabric. <br> <br>
       Care:
        <li> Vivid print that will never fade after washing</li>
        <li>Easy care, machine wash delicate cycle in cold water, lay flat to dry, do not bleach, can also be dry cleaned</li>
    </p>
    <div class="shop-item-price">
      <h6>Price</h6>
      <h6>$98.00</h6>
    </div>
    <button class="shop-popup-btn">Sign In</button>
    <div class="no-account">
      <p>Don't have an account?</p>
      <a href="/">Join the waitlist</a>
    </div>
  </div>
</div>     
</div>
</div>

<!-- shop-item-3 -modal-3 -->

<div class="shop-item">
  <div class="shop-image">
    <img src="/img/bags-4.jpg" class="modal-open" data-modal="modal3"></img>
    <div class="add-product modal-open" data-modal="modal10">
      <span><i class="fas fa-plus fa-2x"></i></span>
     <h6 class="add-product-title">Add product</h6>       
    </div>     
  </div>            
  <div class="shop-item-description">          
    <h5 class="shop-item-name">Mi Wifi Range Extender Pro</h5>
    <div class="item-by">
      <small>Sold by</small>
      <h6>Xiaoteks</h6>
    </div>
    <div class="shop-item-price">
      <h6>Price</h6>
      <h6>$25.99</h6>
    </div>
    <div class="shop-item-commission">
      <h6>You earn</h6>
      <h6>$2.92</h6>
    </div>
  </div>
</div>
<div class="modal" id="modal3">
<div class="modal-content">
<button class="icon modal-close">&#10005;</button>
<div class="modal-body">
  <section id="section-slider">
    <div id='slider-container'>
            <div id="slider-2">
                <div class="img-slider">
                   <img src="/shop-glider/glider-5.jpg">
                   <p class="img-number">1/3</p> 
                </div>
                <div class="img-slider">
                   <img src="/shop-glider/glider-6.jpg">
                   <p class="img-number">2/3</p> 
                </div>               
                <div class="img-slider">
                   <img src="/shop-glider/glider-7.jpg">
                   <p class="img-number">3/2</p> 
                </div>               
            </div>
        <button id="prev-2"><i class="fas fa-chevron-left fa-2x"></i></button>
        <button id="next-2"><i class="fas fa-chevron-right fa-2x"></i></button>
    </div>
</section> 
  <div class="shop-popup-content">
    <h6 class="popup-name">Mi Wifi Range Extender Pro (CN Plug / Black)</h6>
    <div class="item-by">
      <small>Sold by</small>
      <h6>Xiaoteks</h6>
    </div>
    <p>Our custom designed totes are perfect for a weekend gateway</p>
    <div class="shop-item-price">
      <h6>Price</h6>
      <h6>$25.99</h6>
    </div>
    <p class="sign-in-desc">Tired of Wi-Fi “dead zone”? Mi Wi-Fi Range Extender Pro can help you easily connect to the network. Add Wi-Fi extenders to vastly speed up your gaming and movie-watching experience. The Mi Wi-Fi Range Extender Pro now comes with a 2×2 external antenna to maintain a transmission rate of 300Mbps while also increasing signal stability. <br> <br>
      With Modem Function: No <br>
      Type: Wireless <br>
      Wired Transfer Rate: 10/100/1000Mbps <br>
      WAN Ports: 1 x10/100/1000Mbps <br>
      Number of USB Interfaces: None <br>
      Wi-Fi Supported Frequency: 2.4G <br>
      5G Wi-Fi Transmission Rate: None <br>
      Max. LAN Data Rate: 300Mbps <br>
      Standards And Protocols: Wi-Fi 802.11n <br>
      Wi-Fi Transmission Standard: 802.11n <br>
      2.4G Wi-Fi Transmission Rate: 300 Mbps <br>
      Application: home
    </p>
    <button class="shop-popup-btn">Sign In</button>
    <div class="no-account">
      <p>Don't have an account?</p>
      <a href="/">Join the waitlist</a>
    </div>
  </div>
</div>     
</div>
</div>

  <!-- shop-item-1-modal -1 -->

  <div class="modal" id="modal1">
    <div class="modal-content">
      <button class="icon modal-close">&#10005;</button>
      <div class="modal-body">
        <section id="section-slider">
          <div id='slider-container'>
                  <div id="slider">
                      <div class="img-slider">
                         <img src="/shop-glider/glider-1.jpg">
                         <p class="img-number">1/2</p> 
                      </div>
                      <div class="img-slider">
                         <img src="/shop-glider/glider-2.jpg">
                         <p class="img-number">2/2</p> 
                      </div>               
                  </div>
              <button id="prev"><i class="fas fa-chevron-left fa-2x"></i></button>
              <button id="next"><i class="fas fa-chevron-right fa-2x"></i></button>
          </div>
      </section> 
        <div class="shop-popup-content">
          <h6 class="popup-name">ZOE TOTE</h6>
          <div class="item-by">
            <small>Sold by</small>
            <h6>Threads by Lulu</h6>
          </div>
          <p>Our custom designed totes are perfect for a weekend gateway</p>
          <div class="shop-item-price">
            <h6>Price</h6>
            <h6>$88.00</h6>
          </div>
          <p class="sign-in-desc">If you have a non-affiliate account, please sign in to add this product to your Selcouth page.</p>
          <button class="shop-popup-btn">Sign In</button>
          <div class="no-account">
            <p>Don't have an account?</p>
            <a href="/">Join the waitlist</a>
          </div>
        </div>
      </div>     
    </div>
  </div>
  
  <!-- shop-item-2 -modal-2 -->

  <div class="shop-item">
    <div class="shop-image">
      <img src="/img/bags-3.jpg" class="modal-open" data-modal="modal2"></img>
      <div class="add-product modal-open" data-modal="modal10">
        <span><i class="fas fa-plus fa-2x"></i></span>
       <h6 class="add-product-title">Add product</h6>       
      </div>     
    </div>            
    <div class="shop-item-description">          
      <h5 class="shop-item-name">BELLA TOTE</h5>
      <div class="item-by">
        <small>Sold by</small>
        <h6>Threads by Lulu</h6>
      </div>
      <div class="shop-item-price">
        <h6>Price</h6>
        <h6>$88.00</h6>
      </div>
      <div class="shop-item-commission">
        <h6>You earn</h6>
        <h6>$13.20</h6>
      </div>
    </div>
  </div>
<div class="modal" id="modal2">
<div class="modal-content">
  <button class="icon modal-close">&#10005;</button>
  <div class="modal-body">
    <section id="section-slider">
      <div id='slider-container'>
              <div id="slider-1">
                  <div class="img-slider">
                     <img src="/shop-glider/glider-3.jpg">
                     <p class="img-number">1/2</p> 
                  </div>
                  <div class="img-slider">
                     <img src="/shop-glider/glider-4.jpg">
                     <p class="img-number">2/2</p> 
                  </div>               
              </div>
          <button id="prev-1"><i class="fas fa-chevron-left fa-2x"></i></button>
          <button id="next-1"><i class="fas fa-chevron-right fa-2x"></i></button>
      </div>
  </section> 
    <div class="shop-popup-content">
      <h6 class="popup-name">ZOE TOTE</h6>
      <div class="item-by">
        <small>Sold by</small>
        <h6>Threads by Lulu</h6>
      </div>
      <p>Our custom designed totes are perfect for a weekend gateway</p>
      <div class="shop-item-price">
        <h6>Price</h6>
        <h6>$88.00</h6>
      </div>
      <p class="sign-in-desc">If you have a non-affiliate account, please sign in to add this product to your Selcouth page.</p>
      <button class="shop-popup-btn">Sign In</button>
      <div class="no-account">
        <p>Don't have an account?</p>
        <a href="/">Join the waitlist</a>
      </div>
    </div>
  </div>     
</div>
</div>
<!-- shop-item-4 modal-4 -->

<div class="shop-item">
  <div class="shop-image">
    <img src="/img/bags-5.jpg" class="modal-open" data-modal="modal4"></img>
    <div class="add-product modal-open" data-modal="modal10">
      <span><i class="fas fa-plus fa-2x"></i></span>
     <h6 class="add-product-title">Add product</h6>       
    </div>     
  </div>            
  <div class="shop-item-description">          
    <h5 class="shop-item-name">BLAKELY PILLOW</h5>
    <div class="item-by">
      <small>Sold by</small>
      <h6>Threads by Lulu</h6>
    </div>
    <div class="shop-item-price">
      <h6>Price</h6>
      <h6>$98.00</h6>
    </div>
    <div class="shop-item-commission">
      <h6>You earn</h6>
      <h6>$2.92</h6>
    </div>
  </div>
</div>
<div class="modal" id="modal4">
<div class="modal-content">
<button class="icon modal-close">&#10005;</button>
<div class="modal-body">
  <section id="section-slider">
    <div id='slider-container'>
            <div id="slider-3">
                <div class="img-slider">
                   <img src="/shop-glider/glider-8.jpg">
                   <p class="img-number">1/2</p> 
                </div>
                <div class="img-slider">
                   <img src="/shop-glider/glider-9.jpg">
                   <p class="img-number">2/2</p> 
                </div>                                     
            </div>
        <button id="prev-3"><i class="fas fa-chevron-left fa-2x"></i></button>
        <button id="next-3"><i class="fas fa-chevron-right fa-2x"></i></button>
    </div>
</section> 
  <div class="shop-popup-content">
    <h6 class="popup-name">BLAKELY PILLOW</h6>
    <div class="item-by">
      <small>Sold by</small>
      <h6>Threads by Lulu</h6>
    </div>
    <p>Our pillowcases add the perfect accent to any room. Go soft and snuggly with 100% velveteen fabric. <br> <br>
       Care:
        <li> Vivid print that will never fade after washing</li>
        <li>Easy care, machine wash delicate cycle in cold water, lay flat to dry, do not bleach, can also be dry cleaned</li>
    </p>
    <div class="shop-item-price">
      <h6>Price</h6>
      <h6>$98.00</h6>
    </div>
    <button class="shop-popup-btn">Sign In</button>
    <div class="no-account">
      <p>Don't have an account?</p>
      <a href="/">Join the waitlist</a>
    </div>
  </div>
</div>     
</div>
</div>

<!-- shop-item-3 -modal-3 -->

<div class="shop-item">
  <div class="shop-image">
    <img src="/img/bags-4.jpg" class="modal-open" data-modal="modal3"></img>
    <div class="add-product modal-open" data-modal="modal10">
      <span><i class="fas fa-plus fa-2x"></i></span>
     <h6 class="add-product-title">Add product</h6>       
    </div>     
  </div>            
  <div class="shop-item-description">          
    <h5 class="shop-item-name">Mi Wifi Range Extender Pro</h5>
    <div class="item-by">
      <small>Sold by</small>
      <h6>Xiaoteks</h6>
    </div>
    <div class="shop-item-price">
      <h6>Price</h6>
      <h6>$25.99</h6>
    </div>
    <div class="shop-item-commission">
      <h6>You earn</h6>
      <h6>$2.92</h6>
    </div>
  </div>
</div>
<div class="modal" id="modal3">
<div class="modal-content">
<button class="icon modal-close">&#10005;</button>
<div class="modal-body">
  <section id="section-slider">
    <div id='slider-container'>
            <div id="slider-2">
                <div class="img-slider">
                   <img src="/shop-glider/glider-5.jpg">
                   <p class="img-number">1/3</p> 
                </div>
                <div class="img-slider">
                   <img src="/shop-glider/glider-6.jpg">
                   <p class="img-number">2/3</p> 
                </div>               
                <div class="img-slider">
                   <img src="/shop-glider/glider-7.jpg">
                   <p class="img-number">3/2</p> 
                </div>               
            </div>
        <button id="prev-2"><i class="fas fa-chevron-left fa-2x"></i></button>
        <button id="next-2"><i class="fas fa-chevron-right fa-2x"></i></button>
    </div>
</section> 
  <div class="shop-popup-content">
    <h6 class="popup-name">Mi Wifi Range Extender Pro (CN Plug / Black)</h6>
    <div class="item-by">
      <small>Sold by</small>
      <h6>Xiaoteks</h6>
    </div>
    <p>Our custom designed totes are perfect for a weekend gateway</p>
    <div class="shop-item-price">
      <h6>Price</h6>
      <h6>$25.99</h6>
    </div>
    <p class="sign-in-desc">Tired of Wi-Fi “dead zone”? Mi Wi-Fi Range Extender Pro can help you easily connect to the network. Add Wi-Fi extenders to vastly speed up your gaming and movie-watching experience. The Mi Wi-Fi Range Extender Pro now comes with a 2×2 external antenna to maintain a transmission rate of 300Mbps while also increasing signal stability. <br> <br>
      With Modem Function: No <br>
      Type: Wireless <br>
      Wired Transfer Rate: 10/100/1000Mbps <br>
      WAN Ports: 1 x10/100/1000Mbps <br>
      Number of USB Interfaces: None <br>
      Wi-Fi Supported Frequency: 2.4G <br>
      5G Wi-Fi Transmission Rate: None <br>
      Max. LAN Data Rate: 300Mbps <br>
      Standards And Protocols: Wi-Fi 802.11n <br>
      Wi-Fi Transmission Standard: 802.11n <br>
      2.4G Wi-Fi Transmission Rate: 300 Mbps <br>
      Application: home
    </p>
    <button class="shop-popup-btn">Sign In</button>
    <div class="no-account">
      <p>Don't have an account?</p>
      <a href="/">Join the waitlist</a>
    </div>
  </div>
</div>     
</div>
</div>

  <!-- shop-item-1-modal -1 -->

  <div class="modal" id="modal1">
    <div class="modal-content">
      <button class="icon modal-close">&#10005;</button>
      <div class="modal-body">
        <section id="section-slider">
          <div id='slider-container'>
                  <div id="slider">
                      <div class="img-slider">
                         <img src="/shop-glider/glider-1.jpg">
                         <p class="img-number">1/2</p> 
                      </div>
                      <div class="img-slider">
                         <img src="/shop-glider/glider-2.jpg">
                         <p class="img-number">2/2</p> 
                      </div>               
                  </div>
              <button id="prev"><i class="fas fa-chevron-left fa-2x"></i></button>
              <button id="next"><i class="fas fa-chevron-right fa-2x"></i></button>
          </div>
      </section> 
        <div class="shop-popup-content">
          <h6 class="popup-name">ZOE TOTE</h6>
          <div class="item-by">
            <small>Sold by</small>
            <h6>Threads by Lulu</h6>
          </div>
          <p>Our custom designed totes are perfect for a weekend gateway</p>
          <div class="shop-item-price">
            <h6>Price</h6>
            <h6>$88.00</h6>
          </div>
          <p class="sign-in-desc">If you have a non-affiliate account, please sign in to add this product to your Selcouth page.</p>
          <button class="shop-popup-btn">Sign In</button>
          <div class="no-account">
            <p>Don't have an account?</p>
            <a href="/">Join the waitlist</a>
          </div>
        </div>
      </div>     
    </div>
  </div>
  
  <!-- shop-item-2 -modal-2 -->

  <div class="shop-item">
    <div class="shop-image">
      <img src="/img/bags-3.jpg" class="modal-open" data-modal="modal2"></img>
      <div class="add-product modal-open" data-modal="modal10">
        <span><i class="fas fa-plus fa-2x"></i></span>
       <h6 class="add-product-title">Add product</h6>       
      </div>     
    </div>            
    <div class="shop-item-description">          
      <h5 class="shop-item-name">BELLA TOTE</h5>
      <div class="item-by">
        <small>Sold by</small>
        <h6>Threads by Lulu</h6>
      </div>
      <div class="shop-item-price">
        <h6>Price</h6>
        <h6>$88.00</h6>
      </div>
      <div class="shop-item-commission">
        <h6>You earn</h6>
        <h6>$13.20</h6>
      </div>
    </div>
  </div>
<div class="modal" id="modal2">
<div class="modal-content">
  <button class="icon modal-close">&#10005;</button>
  <div class="modal-body">
    <section id="section-slider">
      <div id='slider-container'>
              <div id="slider-1">
                  <div class="img-slider">
                     <img src="/shop-glider/glider-3.jpg">
                     <p class="img-number">1/2</p> 
                  </div>
                  <div class="img-slider">
                     <img src="/shop-glider/glider-4.jpg">
                     <p class="img-number">2/2</p> 
                  </div>               
              </div>
          <button id="prev-1"><i class="fas fa-chevron-left fa-2x"></i></button>
          <button id="next-1"><i class="fas fa-chevron-right fa-2x"></i></button>
      </div>
  </section> 
    <div class="shop-popup-content">
      <h6 class="popup-name">ZOE TOTE</h6>
      <div class="item-by">
        <small>Sold by</small>
        <h6>Threads by Lulu</h6>
      </div>
      <p>Our custom designed totes are perfect for a weekend gateway</p>
      <div class="shop-item-price">
        <h6>Price</h6>
        <h6>$88.00</h6>
      </div>
      <p class="sign-in-desc">If you have a non-affiliate account, please sign in to add this product to your Selcouth page.</p>
      <button class="shop-popup-btn">Sign In</button>
      <div class="no-account">
        <p>Don't have an account?</p>
        <a href="/">Join the waitlist</a>
      </div>
    </div>
  </div>     
</div>
</div>
<!-- shop-item-4 modal-4 -->

<div class="shop-item">
  <div class="shop-image">
    <img src="/img/bags-5.jpg" class="modal-open" data-modal="modal4"></img>
    <div class="add-product modal-open" data-modal="modal10">
      <span><i class="fas fa-plus fa-2x"></i></span>
     <h6 class="add-product-title">Add product</h6>       
    </div>     
  </div>            
  <div class="shop-item-description">          
    <h5 class="shop-item-name">BLAKELY PILLOW</h5>
    <div class="item-by">
      <small>Sold by</small>
      <h6>Threads by Lulu</h6>
    </div>
    <div class="shop-item-price">
      <h6>Price</h6>
      <h6>$98.00</h6>
    </div>
    <div class="shop-item-commission">
      <h6>You earn</h6>
      <h6>$2.92</h6>
    </div>
  </div>
</div>
<div class="modal" id="modal4">
<div class="modal-content">
<button class="icon modal-close">&#10005;</button>
<div class="modal-body">
  <section id="section-slider">
    <div id='slider-container'>
            <div id="slider-3">
                <div class="img-slider">
                   <img src="/shop-glider/glider-8.jpg">
                   <p class="img-number">1/2</p> 
                </div>
                <div class="img-slider">
                   <img src="/shop-glider/glider-9.jpg">
                   <p class="img-number">2/2</p> 
                </div>                                     
            </div>
        <button id="prev-3"><i class="fas fa-chevron-left fa-2x"></i></button>
        <button id="next-3"><i class="fas fa-chevron-right fa-2x"></i></button>
    </div>
</section> 
  <div class="shop-popup-content">
    <h6 class="popup-name">BLAKELY PILLOW</h6>
    <div class="item-by">
      <small>Sold by</small>
      <h6>Threads by Lulu</h6>
    </div>
    <p>Our pillowcases add the perfect accent to any room. Go soft and snuggly with 100% velveteen fabric. <br> <br>
       Care:
        <li> Vivid print that will never fade after washing</li>
        <li>Easy care, machine wash delicate cycle in cold water, lay flat to dry, do not bleach, can also be dry cleaned</li>
    </p>
    <div class="shop-item-price">
      <h6>Price</h6>
      <h6>$98.00</h6>
    </div>
    <button class="shop-popup-btn">Sign In</button>
    <div class="no-account">
      <p>Don't have an account?</p>
      <a href="/">Join the waitlist</a>
    </div>
  </div>
</div>     
</div>
</div>

<!-- shop-item-3 -modal-3 -->

<div class="shop-item">
  <div class="shop-image">
    <img src="/img/bags-4.jpg" class="modal-open" data-modal="modal3"></img>
    <div class="add-product modal-open" data-modal="modal10">
      <span><i class="fas fa-plus fa-2x"></i></span>
     <h6 class="add-product-title">Add product</h6>       
    </div>     
  </div>            
  <div class="shop-item-description">          
    <h5 class="shop-item-name">Mi Wifi Range Extender Pro</h5>
    <div class="item-by">
      <small>Sold by</small>
      <h6>Xiaoteks</h6>
    </div>
    <div class="shop-item-price">
      <h6>Price</h6>
      <h6>$25.99</h6>
    </div>
    <div class="shop-item-commission">
      <h6>You earn</h6>
      <h6>$2.92</h6>
    </div>
  </div>
</div>
<div class="modal" id="modal3">
<div class="modal-content">
<button class="icon modal-close">&#10005;</button>
<div class="modal-body">
  <section id="section-slider">
    <div id='slider-container'>
            <div id="slider-2">
                <div class="img-slider">
                   <img src="/shop-glider/glider-5.jpg">
                   <p class="img-number">1/3</p> 
                </div>
                <div class="img-slider">
                   <img src="/shop-glider/glider-6.jpg">
                   <p class="img-number">2/3</p> 
                </div>               
                <div class="img-slider">
                   <img src="/shop-glider/glider-7.jpg">
                   <p class="img-number">3/2</p> 
                </div>               
            </div>
        <button id="prev-2"><i class="fas fa-chevron-left fa-2x"></i></button>
        <button id="next-2"><i class="fas fa-chevron-right fa-2x"></i></button>
    </div>
</section> 
  <div class="shop-popup-content">
    <h6 class="popup-name">Mi Wifi Range Extender Pro (CN Plug / Black)</h6>
    <div class="item-by">
      <small>Sold by</small>
      <h6>Xiaoteks</h6>
    </div>
    <p>Our custom designed totes are perfect for a weekend gateway</p>
    <div class="shop-item-price">
      <h6>Price</h6>
      <h6>$25.99</h6>
    </div>
    <p class="sign-in-desc">Tired of Wi-Fi “dead zone”? Mi Wi-Fi Range Extender Pro can help you easily connect to the network. Add Wi-Fi extenders to vastly speed up your gaming and movie-watching experience. The Mi Wi-Fi Range Extender Pro now comes with a 2×2 external antenna to maintain a transmission rate of 300Mbps while also increasing signal stability. <br> <br>
      With Modem Function: No <br>
      Type: Wireless <br>
      Wired Transfer Rate: 10/100/1000Mbps <br>
      WAN Ports: 1 x10/100/1000Mbps <br>
      Number of USB Interfaces: None <br>
      Wi-Fi Supported Frequency: 2.4G <br>
      5G Wi-Fi Transmission Rate: None <br>
      Max. LAN Data Rate: 300Mbps <br>
      Standards And Protocols: Wi-Fi 802.11n <br>
      Wi-Fi Transmission Standard: 802.11n <br>
      2.4G Wi-Fi Transmission Rate: 300 Mbps <br>
      Application: home
    </p>
    <button class="shop-popup-btn">Sign In</button>
    <div class="no-account">
      <p>Don't have an account?</p>
      <a href="/">Join the waitlist</a>
    </div>
  </div>
</div>     
</div>
</div>

  <!-- shop-item-1-modal -1 -->

  <div class="modal" id="modal1">
    <div class="modal-content">
      <button class="icon modal-close">&#10005;</button>
      <div class="modal-body">
        <section id="section-slider">
          <div id='slider-container'>
                  <div id="slider">
                      <div class="img-slider">
                         <img src="/shop-glider/glider-1.jpg">
                         <p class="img-number">1/2</p> 
                      </div>
                      <div class="img-slider">
                         <img src="/shop-glider/glider-2.jpg">
                         <p class="img-number">2/2</p> 
                      </div>               
                  </div>
              <button id="prev"><i class="fas fa-chevron-left fa-2x"></i></button>
              <button id="next"><i class="fas fa-chevron-right fa-2x"></i></button>
          </div>
      </section> 
        <div class="shop-popup-content">
          <h6 class="popup-name">ZOE TOTE</h6>
          <div class="item-by">
            <small>Sold by</small>
            <h6>Threads by Lulu</h6>
          </div>
          <p>Our custom designed totes are perfect for a weekend gateway</p>
          <div class="shop-item-price">
            <h6>Price</h6>
            <h6>$88.00</h6>
          </div>
          <p class="sign-in-desc">If you have a non-affiliate account, please sign in to add this product to your Selcouth page.</p>
          <button class="shop-popup-btn">Sign In</button>
          <div class="no-account">
            <p>Don't have an account?</p>
            <a href="/">Join the waitlist</a>
          </div>
        </div>
      </div>     
    </div>
  </div>
  
  <!-- shop-item-2 -modal-2 -->

  <div class="shop-item">
    <div class="shop-image">
      <img src="/img/bags-3.jpg" class="modal-open" data-modal="modal2"></img>
      <div class="add-product modal-open" data-modal="modal10">
        <span><i class="fas fa-plus fa-2x"></i></span>
       <h6 class="add-product-title">Add product</h6>       
      </div>     
    </div>            
    <div class="shop-item-description">          
      <h5 class="shop-item-name">BELLA TOTE</h5>
      <div class="item-by">
        <small>Sold by</small>
        <h6>Threads by Lulu</h6>
      </div>
      <div class="shop-item-price">
        <h6>Price</h6>
        <h6>$88.00</h6>
      </div>
      <div class="shop-item-commission">
        <h6>You earn</h6>
        <h6>$13.20</h6>
      </div>
    </div>
  </div>
<div class="modal" id="modal2">
<div class="modal-content">
  <button class="icon modal-close">&#10005;</button>
  <div class="modal-body">
    <section id="section-slider">
      <div id='slider-container'>
              <div id="slider-1">
                  <div class="img-slider">
                     <img src="/shop-glider/glider-3.jpg">
                     <p class="img-number">1/2</p> 
                  </div>
                  <div class="img-slider">
                     <img src="/shop-glider/glider-4.jpg">
                     <p class="img-number">2/2</p> 
                  </div>               
              </div>
          <button id="prev-1"><i class="fas fa-chevron-left fa-2x"></i></button>
          <button id="next-1"><i class="fas fa-chevron-right fa-2x"></i></button>
      </div>
  </section> 
    <div class="shop-popup-content">
      <h6 class="popup-name">ZOE TOTE</h6>
      <div class="item-by">
        <small>Sold by</small>
        <h6>Threads by Lulu</h6>
      </div>
      <p>Our custom designed totes are perfect for a weekend gateway</p>
      <div class="shop-item-price">
        <h6>Price</h6>
        <h6>$88.00</h6>
      </div>
      <p class="sign-in-desc">If you have a non-affiliate account, please sign in to add this product to your Selcouth page.</p>
      <button class="shop-popup-btn">Sign In</button>
      <div class="no-account">
        <p>Don't have an account?</p>
        <a href="/">Join the waitlist</a>
      </div>
    </div>
  </div>     
</div>
</div>
<!-- shop-item-4 modal-4 -->

<div class="shop-item">
  <div class="shop-image">
    <img src="/img/bags-5.jpg" class="modal-open" data-modal="modal4"></img>
    <div class="add-product modal-open" data-modal="modal10">
      <span><i class="fas fa-plus fa-2x"></i></span>
     <h6 class="add-product-title">Add product</h6>       
    </div>     
  </div>            
  <div class="shop-item-description">          
    <h5 class="shop-item-name">BLAKELY PILLOW</h5>
    <div class="item-by">
      <small>Sold by</small>
      <h6>Threads by Lulu</h6>
    </div>
    <div class="shop-item-price">
      <h6>Price</h6>
      <h6>$98.00</h6>
    </div>
    <div class="shop-item-commission">
      <h6>You earn</h6>
      <h6>$2.92</h6>
    </div>
  </div>
</div>
<div class="modal" id="modal4">
<div class="modal-content">
<button class="icon modal-close">&#10005;</button>
<div class="modal-body">
  <section id="section-slider">
    <div id='slider-container'>
            <div id="slider-3">
                <div class="img-slider">
                   <img src="/shop-glider/glider-8.jpg">
                   <p class="img-number">1/2</p> 
                </div>
                <div class="img-slider">
                   <img src="/shop-glider/glider-9.jpg">
                   <p class="img-number">2/2</p> 
                </div>                                     
            </div>
        <button id="prev-3"><i class="fas fa-chevron-left fa-2x"></i></button>
        <button id="next-3"><i class="fas fa-chevron-right fa-2x"></i></button>
    </div>
</section> 
  <div class="shop-popup-content">
    <h6 class="popup-name">BLAKELY PILLOW</h6>
    <div class="item-by">
      <small>Sold by</small>
      <h6>Threads by Lulu</h6>
    </div>
    <p>Our pillowcases add the perfect accent to any room. Go soft and snuggly with 100% velveteen fabric. <br> <br>
       Care:
        <li> Vivid print that will never fade after washing</li>
        <li>Easy care, machine wash delicate cycle in cold water, lay flat to dry, do not bleach, can also be dry cleaned</li>
    </p>
    <div class="shop-item-price">
      <h6>Price</h6>
      <h6>$98.00</h6>
    </div>
    <button class="shop-popup-btn">Sign In</button>
    <div class="no-account">
      <p>Don't have an account?</p>
      <a href="/">Join the waitlist</a>
    </div>
  </div>
</div>     
</div>
</div>

<!-- shop-item-3 -modal-3 -->

<div class="shop-item">
  <div class="shop-image">
    <img src="/img/bags-4.jpg" class="modal-open" data-modal="modal3"></img>
    <div class="add-product modal-open" data-modal="modal10">
      <span><i class="fas fa-plus fa-2x"></i></span>
     <h6 class="add-product-title">Add product</h6>       
    </div>     
  </div>            
  <div class="shop-item-description">          
    <h5 class="shop-item-name">Mi Wifi Range Extender Pro</h5>
    <div class="item-by">
      <small>Sold by</small>
      <h6>Xiaoteks</h6>
    </div>
    <div class="shop-item-price">
      <h6>Price</h6>
      <h6>$25.99</h6>
    </div>
    <div class="shop-item-commission">
      <h6>You earn</h6>
      <h6>$2.92</h6>
    </div>
  </div>
</div>
<div class="modal" id="modal3">
<div class="modal-content">
<button class="icon modal-close">&#10005;</button>
<div class="modal-body">
  <section id="section-slider">
    <div id='slider-container'>
            <div id="slider-2">
                <div class="img-slider">
                   <img src="/shop-glider/glider-5.jpg">
                   <p class="img-number">1/3</p> 
                </div>
                <div class="img-slider">
                   <img src="/shop-glider/glider-6.jpg">
                   <p class="img-number">2/3</p> 
                </div>               
                <div class="img-slider">
                   <img src="/shop-glider/glider-7.jpg">
                   <p class="img-number">3/2</p> 
                </div>               
            </div>
        <button id="prev-2"><i class="fas fa-chevron-left fa-2x"></i></button>
        <button id="next-2"><i class="fas fa-chevron-right fa-2x"></i></button>
    </div>
</section> 
  <div class="shop-popup-content">
    <h6 class="popup-name">Mi Wifi Range Extender Pro (CN Plug / Black)</h6>
    <div class="item-by">
      <small>Sold by</small>
      <h6>Xiaoteks</h6>
    </div>
    <p>Our custom designed totes are perfect for a weekend gateway</p>
    <div class="shop-item-price">
      <h6>Price</h6>
      <h6>$25.99</h6>
    </div>
    <p class="sign-in-desc">Tired of Wi-Fi “dead zone”? Mi Wi-Fi Range Extender Pro can help you easily connect to the network. Add Wi-Fi extenders to vastly speed up your gaming and movie-watching experience. The Mi Wi-Fi Range Extender Pro now comes with a 2×2 external antenna to maintain a transmission rate of 300Mbps while also increasing signal stability. <br> <br>
      With Modem Function: No <br>
      Type: Wireless <br>
      Wired Transfer Rate: 10/100/1000Mbps <br>
      WAN Ports: 1 x10/100/1000Mbps <br>
      Number of USB Interfaces: None <br>
      Wi-Fi Supported Frequency: 2.4G <br>
      5G Wi-Fi Transmission Rate: None <br>
      Max. LAN Data Rate: 300Mbps <br>
      Standards And Protocols: Wi-Fi 802.11n <br>
      Wi-Fi Transmission Standard: 802.11n <br>
      2.4G Wi-Fi Transmission Rate: 300 Mbps <br>
      Application: home
    </p>
    <button class="shop-popup-btn">Sign In</button>
    <div class="no-account">
      <p>Don't have an account?</p>
      <a href="/">Join the waitlist</a>
    </div>
  </div>
</div>     
</div>
</div>

  <!-- shop-item-1-modal -1 -->

  <div class="modal" id="modal1">
    <div class="modal-content">
      <button class="icon modal-close">&#10005;</button>
      <div class="modal-body">
        <section id="section-slider">
          <div id='slider-container'>
                  <div id="slider">
                      <div class="img-slider">
                         <img src="/shop-glider/glider-1.jpg">
                         <p class="img-number">1/2</p> 
                      </div>
                      <div class="img-slider">
                         <img src="/shop-glider/glider-2.jpg">
                         <p class="img-number">2/2</p> 
                      </div>               
                  </div>
              <button id="prev"><i class="fas fa-chevron-left fa-2x"></i></button>
              <button id="next"><i class="fas fa-chevron-right fa-2x"></i></button>
          </div>
      </section> 
        <div class="shop-popup-content">
          <h6 class="popup-name">ZOE TOTE</h6>
          <div class="item-by">
            <small>Sold by</small>
            <h6>Threads by Lulu</h6>
          </div>
          <p>Our custom designed totes are perfect for a weekend gateway</p>
          <div class="shop-item-price">
            <h6>Price</h6>
            <h6>$88.00</h6>
          </div>
          <p class="sign-in-desc">If you have a non-affiliate account, please sign in to add this product to your Selcouth page.</p>
          <button class="shop-popup-btn">Sign In</button>
          <div class="no-account">
            <p>Don't have an account?</p>
            <a href="/">Join the waitlist</a>
          </div>
        </div>
      </div>     
    </div>
  </div>
  
  <!-- shop-item-2 -modal-2 -->

  <div class="shop-item">
    <div class="shop-image">
      <img src="/img/bags-3.jpg" class="modal-open" data-modal="modal2"></img>
      <div class="add-product modal-open" data-modal="modal10">
        <span><i class="fas fa-plus fa-2x"></i></span>
       <h6 class="add-product-title">Add product</h6>       
      </div>     
    </div>            
    <div class="shop-item-description">          
      <h5 class="shop-item-name">BELLA TOTE</h5>
      <div class="item-by">
        <small>Sold by</small>
        <h6>Threads by Lulu</h6>
      </div>
      <div class="shop-item-price">
        <h6>Price</h6>
        <h6>$88.00</h6>
      </div>
      <div class="shop-item-commission">
        <h6>You earn</h6>
        <h6>$13.20</h6>
      </div>
    </div>
  </div>
<div class="modal" id="modal2">
<div class="modal-content">
  <button class="icon modal-close">&#10005;</button>
  <div class="modal-body">
    <section id="section-slider">
      <div id='slider-container'>
              <div id="slider-1">
                  <div class="img-slider">
                     <img src="/shop-glider/glider-3.jpg">
                     <p class="img-number">1/2</p> 
                  </div>
                  <div class="img-slider">
                     <img src="/shop-glider/glider-4.jpg">
                     <p class="img-number">2/2</p> 
                  </div>               
              </div>
          <button id="prev-1"><i class="fas fa-chevron-left fa-2x"></i></button>
          <button id="next-1"><i class="fas fa-chevron-right fa-2x"></i></button>
      </div>
  </section> 
    <div class="shop-popup-content">
      <h6 class="popup-name">ZOE TOTE</h6>
      <div class="item-by">
        <small>Sold by</small>
        <h6>Threads by Lulu</h6>
      </div>
      <p>Our custom designed totes are perfect for a weekend gateway</p>
      <div class="shop-item-price">
        <h6>Price</h6>
        <h6>$88.00</h6>
      </div>
      <p class="sign-in-desc">If you have a non-affiliate account, please sign in to add this product to your Selcouth page.</p>
      <button class="shop-popup-btn">Sign In</button>
      <div class="no-account">
        <p>Don't have an account?</p>
        <a href="/">Join the waitlist</a>
      </div>
    </div>
  </div>     
</div>
</div>
    </section>  
  </div>
  <!-- item1 script -->
  <script>

const slider = document.getElementById('slider');
const prevSlider = document.getElementById('prev');
const nextSlider = document.getElementById('next');


nextSlider.addEventListener('click', (e) => {
    slider.scrollBy(300, 0);
});

prevSlider.addEventListener('click', (e) => {
    slider.scrollBy(-300, 0);
});
  </script>

<!-- item-2 script -->
  <script>
  const slider1 = document.getElementById('slider-1');
const prevSlider1 = document.getElementById('prev-1');
const nextSlider1 = document.getElementById('next-1');


nextSlider1.addEventListener('click', (e) => {
    slider1.scrollBy(300, 0);
});

prevSlider1.addEventListener('click', (e) => {
    slider1.scrollBy(-300, 0);
});
  </script>


<!-- item-3 -->
<script>
  const slider2 = document.getElementById('slider-2');
const prevSlider2 = document.getElementById('prev-2');
const nextSlider2 = document.getElementById('next-2');


nextSlider2.addEventListener('click', (e) => {
    slider2.scrollBy(300, 0);
});

prevSlider2.addEventListener('click', (e) => {
    slider2.scrollBy(-300, 0);
});
  </script>



<!-- item-4 -->
<script>
  const slider3 = document.getElementById('slider-3');
const prevSlider3 = document.getElementById('prev-3');
const nextSlider3 = document.getElementById('next-3');


nextSlider3.addEventListener('click', (e) => {
    slider3.scrollBy(300, 0);
});

prevSlider3.addEventListener('click', (e) => {
    slider3.scrollBy(-300, 0);
});
  </script>


  <script>
    // getting modal opening buttons
var modalBtns = document.querySelectorAll('.modal-open')

modalBtns.forEach(function(btn){
  btn.onclick = function(){
    var modal = btn.getAttribute('data-modal');

    document.getElementById(modal).style.display = 'block';
  };
});

var closeBtns = document.querySelectorAll('.modal-close');

closeBtns.forEach(function(btn){
  btn.onclick = function(){
    var modal = btn.closest('.modal').style.display = 'none'
  };
});

window.onclick = function(e){
  if(e.target.className === 'modal'){
    e.target.style.display = 'none'
  }
}
  </script>
  <script src="/js/app.js"></script>
</body>
</html>