<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Roboto:ital,wght@0,400;1,300;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel='icon' href='../img/selcouth.png' type='img'>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <link rel="stylesheet" href="/css/glider.min.css">
  <link rel="stylesheet" href="/css/indexpageblogs.css">
  <title>Selcouth || Links</title>
</head>
<body>
  <a href="#"><i class="fas fa-angle-up progressCounter fa-2x arrow" id="arrow"></i></a>

  <div class="menu">
    <div id="content" class="dropdown-content">
     <div class="articles-container">
       <h5 class="recent">Recent articles</h5>
       <div class="articles-area">


         <!-- article-1 -->
         <div class="each-article">
           <a href="">
           <img src="img/blog-card-2.jpg" class="article-img" alt="">
           <h4>Optimizing your links for clicks &#128170;</h4>
           <span>2 months ago</span>        
          </div></a>    


           <!-- <article-2--  --> -->
            <div class="each-article">
              <a href="">
              <img src="img/blog-card-11.jpeg" class="article-img" alt="">
              <h4>Building your email list&#127969;.</h4>
              <span>6 months ago</span>             
           </div></a>    

          <!-- articles - 3 -->
          <div class="each-article">
            <a href="">
            <img src="img/blog-card-9.jpeg" class="article-img" alt="">
            <h4>The Smart Link&#9889;</h4>
            <span>5 months ago</span>            
         </div></a>    

       <!-- article 4 -->
        <div class="each-article">
        <a href="">
        <img src="img/blog-card-8.jpg" class="article-img" alt="">
        <h4>Setting up with stripe&#127970;</h4>
        <span>5 months ago</span>       
         </a></div>
       </div>
       <div class="article-tags">Tags</div>

       <div class="other-info">
         <span>Research</span>
         <span>Tips</span>
       </div>
      </div>
    </div>
  </div>


<!-- small screen dropdown -->
<div class="overlay">
  <div class="three-dots"onclick="openMenu()">&hellip;</div>
 <a href="/"><img id="selcouth" src="/img/selcouth.png" alt=""></a>
</div>
<div class="menu-container" id="navbar">
  <span class="closebtn" onclick="closeMenu()">&times;</span>
  <div class="menu-content">
    <div class="top-part">
      <a href="/">Selcouth</a>
      <a href="/blogs">Blog</a>
      <a href="/tips">Tips</a>
      <a href="/research">Research</a>
      </div>
      <h4>Recent articles</h4>

      <div class="middle-part">
      <div class="container">
        <div class="carousel">
          <div class="track">
            <!-- card-1 -->
            <div class="card-overlay">
              <a href="/commissions" class="res-card">
                <img src="/img/blog-card-13.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
                <div class="overlay-header"><h5>Taking Commissions&#128104;</h5></div>
                <div class="overlay-month"><h6>6 months ago</h6></div>
              </a>
              </div>

              <!-- card-2 -->
              <div class="card-overlay">
                <a href="/gettingstarted" class="res-card">
                  <img src="/img/blog-card-7.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
                  <div class="overlay-header"><h5>Featuring a video &#127916;</h5></div>
                  <div class="overlay-month"><h6>5 months ago</h6></div>
                </a>
                </div>
  

                <!-- card-3 -->


                <div class="card-overlay">
                  <a href="/gettingstarted" class="res-card">
                    <img src="/img/blog-card-8.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
                    <div class="overlay-header"><h5>Setting up with stripe&#127970;</h5></div>
                    <div class="overlay-month"><h6>5 months ago</h6></div>
                  </a>
                  </div>


              <!-- card-4 -->

              <div class="card-overlay">
                <a href="/gettingstarted" class="res-card">
                  <img src="/img/blog-card-9.jpeg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
                  <div class="overlay-header"><h5>The Smart Link</h5></div>
                  <div class="overlay-month"><h6>5 months ago</h6></div>
                </a>
                </div>



                <!-- card-5 -->


                <div class="card-overlay">
                  <a href="/gettingstarted" class="res-card">
                    <img src="/img/blog-card-10.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
                    <div class="overlay-header"><h5>Monetization for content creators</h5></div>
                    <div class="overlay-month"><h6>4 months ago</h6></div>
                  </a>
                  </div>

                  <!-- card -6 -->
                  <div class="card-overlay">
                    <a href="/gettingstarted" class="res-card">
                      <img src="/img/blog-card-2.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
                      <div class="overlay-header"><h5>Optimizing your links for clicks</h5></div>
                      <div class="overlay-month"><h6>7 months ago</h6></div>
                    </a>
                  </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-part">
        <p>Tags</p>
        <a href="/research">Research</a><a href="/tips">Tips</a>
      </div>
      </div>
    </div>
  </div>
</div>


  <section class="first-section" id="responsive-hide">
    <div class="navbar">
      <!-- logo -->
      <div class="logo-div">
        <a href="/" class="blog-logo"><img id="selcouth" src="/img/selcouth.png" alt=""></a>
      </div>
      <!-- navbar-items -->
      <div class="blog-navbar-items">
        <a href="/" class="navbar-item">Selcouth</a>
        <a href="/blogs" class="navbar-item">Blogs</a>
        <a href="/tips" class="navbar-item">Tips</a>
        <a href="/research"class="navbar-item">Research</a>
        <a href="#" class="drop-down"><i onclick="myfun()" id="clicks" class="dropdown fas fa-ellipsis-h"></a></i>
      </div>
    </div> 
  </section>


  <!-- blog-image SECTION -->
  <div class=" blog-image-2"></div>

  <!-- blog-card-content -->
  <div class="blog-card-content">
    <div class="card-content">
      <h2 class="card-title">Leveling up your links 🔗</h2>
      <p class="card-small"><a href="#">Tips</a>&nbsp;&#9679; Apr 26, 2020</p>
      <div class="card-paragraph">
        <div class="card-content-main">
          <p>You might be wondering what all the other icons in each link component on your Links tab represents. You can tap on each to modify your link a different way!</p>
          <div class="card-gif">
            <img src="/img/levelingupyourlinks-1.png" alt="">
            </div>


         <ul>
          <h4 class="followers-see">Starting from the left,
          </h4>
          <li>the lightning icon allows you to change link into a smart link. When visitors come to your Selcouth page, they will automatically get forwarded to this one selected link for the scheduled time period. Read more about smart links here</li>
           <li>the clock icon is a link scheduler, which launches a link on your page for a specific time interval. See below for more tips on link scheduling. Setting up a schedule is as easy as</li>
           <div class="card-gif">
            <img src="/img/levelingupyourlinks-2.png" alt="">
            </div>

           <li>the flare icon lets you animate the link</li>
           <div class="card-gif">
            <img src="/img/levelingupyourlinks-3.png" alt="">
            </div>

            <li>the image icon lets you set an image thumbnail for the link, for example a logo</li>
            <div class="card-gif">
              <img src="/img/levelingupyourlinks-4.png" alt="">
              <p>Setting an image thumbnail for a link.
              </p>

              </div>
              <div class="card-gif">
                <img src="/img/levelingupyourlinks-5.png" alt="">
                <p>Link with set image thumbnail.</p>
                </div>

                <li>the trash icon lets you delete the link completely</li>
         </ul>

        <h4 class="followers-see">Tips for link scheduling</h4>
        <ul>
          <li>Synchronize your link schedules with posts on your other social media profiles.
          </li>
          <li>Link schedules can also be used to for limited-time offers or new releases
          </li>
          <li>If you don't set a start time, your smart link will go into effect immediately.
          </li>
          <li>If you don't set an end time, your link will permanently stay smart.
          </li>
        </ul>
             
              
              

                
               

        </div>       
    </div>
    </div>
  </div>

<div class="user-profile">
  <div class="user-avatar-box">
    <img src="/img/user-avatar.png" alt="" class="user-avatar">
    <h6>Jessie Zeng</h6>
    <p> Co-Founder, CTO</p>
  </div>
</div>


  <!-- responsive cards (SMALL SCREENS) -->
  <div class="responsive-cards small-screen">  
    <h3 class="res-recommendation">Recommended For You</h3>
  <button class="gliders-prev"><i class="fas fa-long-arrow-alt-left res-btn"></i>
  </button>
  <div class="gliders">
    <!-- card-1 -->
    <div class="card">
      <a href="/commissions" class="res-card">
        <img src="/img/blog-card-13.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
        <h2 class="res-header">Tips</h2>
        <div><h5>Taking Commissions&#128104;</h5></div>
            <div><h6>6 months ago &nbsp;&bull;&nbsp;<span>&nbsp;3 mins read</span></h6></div>
      </a>
    </div>

    <!-- card-2 -->
    <div class="card">
      <a href="/featuring" class="res-card">
        <img src="/img/blog-card-2.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
        <h2 class="res-header">Tips</h2>
        <div><h5>Optimizing your links for clicks</h5></div>
            <div><h6>7 months ago &nbsp;&bull;&nbsp;<span>&nbsp;3 mins read</span></h6></div>
      </a>
    </div>
    <!-- card-3 -->
    <div class="card">
      <a href="/links" class="res-card">
        <img src="/img/blog-card-3.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
        <h2 class="res-header">Tips</h2>
        <div><h5>Leveling up your links &#128279;</h5></div>
            <div><h6>4 months ago &nbsp;&bull;&nbsp;<span>&nbsp;2 mins read</span></h6></div>
      </a>
    </div>

    <!-- card-4 -->

    <div class="card">
      <a href="/featuring" class="res-card">
        <img src="/img/blog-card-4.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
        <h2 class="res-header">Tips</h2>
        <div><h5>Customizing your page 	&#127912;</h5></div>
            <div><h6>4 months ago &nbsp;&bull;&nbsp;<span>&nbsp;3 mins read</span></h6></div>
      </a>
    </div>

    <!-- card-5 -->

    <div class="card">
      <a href="/gettingstarted" class="res-card">
        <img src="/img/blog-card-5.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
        <h2 class="res-header">Tips</h2>
        <div><h5>Your weekly update email &#129299</h5></div>
            <div><h6>4 months ago &nbsp;&bull;&nbsp;<span>&nbsp;3 mins read</span></h6></div>
      </a>
    </div>

    <!-- card-6 -->
    <div class="card">
      <a href="/featuring" class="res-card">
        <img src="/img/blog-card-6.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
        <h2 class="res-header">Tips</h2>
        <div><h5>Enabling visitors to support your content&#129395;</h5></div>
            <div><h6>5 months ago &nbsp;&bull;&nbsp;<span>&nbsp;2 mins read</span></h6></div>
      </a>
    </div>

  <!-- card-7 -->
  <div class="card">
  <a href="/gettingstarted" class="res-card">
    <img src="/img/blog-card-7.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
    <h2 class="res-header">Tips</h2>
    <div><h5>Featuring a video &#127916;</h5></div>
        <div><h6>5 months ago &nbsp;&bull;&nbsp;<span>&nbsp;1 min read</span></h6></div>
  </a>
  </div>


  <!-- card-8 -->

  <div class="card">
  <a href="/featuring" class="res-card">
    <img src="/img/blog-card-8.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
    <h2 class="res-header">Tips</h2>
    <div><h5>Setting up with stripe&#127970;</h5></div>
        <div><h6>5 months ago &nbsp;&bull;&nbsp;<span>&nbsp;1 min read</span></h6></div>
  </a>
  </div>

  <!-- card-9 -->
  <div class="card">
  <a href="/gettingstarted" class="res-card">
    <img src="/img/blog-card-9.jpeg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
    <h2 class="res-header">Tips</h2>
    <div><h5>The Smart Link</h5></div>
        <div><h6>5 months ago &nbsp;&bull;&nbsp;<span>&nbsp;2 mins read</span></h6></div>
     </a>
  </div>

  <!-- card-10 -->
  <div class="card">
    <a href="/featuring" class="res-card">
    <img src="/img/blog-card-10.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
    <h2 class="res-header">Tips</h2>
    <div><h5>Monetization for content creators</h5></div>
        <div><h6>5 months ago &nbsp;&bull;&nbsp;<span>&nbsp;2 mins read</span></h6></div>
  </a>
  </div>
  </div>
  <button class="gliders-next"><i class="fas fa-long-arrow-alt-right res-btn"></i>
  </button>
</div>


  <!-- responsive cards (TABLETS) -->
  <div class="responsive-cards big-screen">  
    <h3 class="res-recommendation">Recommended For You</h3>
  <button class="glider-prev"><i class="fas fa-long-arrow-alt-left res-btn"></i>
  </button>
  <div class="glider res-glider">
    <!-- card-1 -->
    <div class="card">
      <a href="/commissions" class="res-card">
        <img src="/img/blog-card-13.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
        <h2 class="res-header">Tips</h2>
        <div><h5>Taking Commissions&#128104;</h5></div>
            <div><h6>6 months ago &nbsp;&bull;&nbsp;<span>&nbsp;3 mins read</span></h6></div>
      </a>
    </div>

    <!-- card-2 -->
    <div class="card">
      <a href="/featuring" class="res-card">
        <img src="/img/blog-card-2.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
        <h2 class="res-header">Tips</h2>
        <div><h5>Optimizing your links for clicks</h5></div>
            <div><h6>7 months ago &nbsp;&bull;&nbsp;<span>&nbsp;3 mins read</span></h6></div>
      </a>
    </div>
    <!-- card-3 -->
    <div class="card">
      <a href="/links" class="res-card">
        <img src="/img/blog-card-3.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
        <h2 class="res-header">Tips</h2>
        <div><h5>Leveling up your links &#128279;</h5></div>
            <div><h6>4 months ago &nbsp;&bull;&nbsp;<span>&nbsp;2 mins read</span></h6></div>
      </a>
    </div>

    <!-- card-4 -->

    <div class="card">
      <a href="/featuring" class="res-card">
        <img src="/img/blog-card-4.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
        <h2 class="res-header">Tips</h2>
        <div><h5>Customizing your page 	&#127912;</h5></div>
            <div><h6>4 months ago &nbsp;&bull;&nbsp;<span>&nbsp;3 mins read</span></h6></div>
      </a>
    </div>

    <!-- card-5 -->

    <div class="card">
      <a href="/gettingstarted" class="res-card">
        <img src="/img/blog-card-5.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
        <h2 class="res-header">Tips</h2>
        <div><h5>Your weekly update email &#129299</h5></div>
            <div><h6>4 months ago &nbsp;&bull;&nbsp;<span>&nbsp;3 mins read</span></h6></div>
      </a>
    </div>

    <!-- card-6 -->
    <div class="card">
      <a href="/featuring" class="res-card">
        <img src="/img/blog-card-6.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
        <h2 class="res-header">Tips</h2>
        <div><h5>Enabling visitors to support your content&#129395;</h5></div>
            <div><h6>5 months ago &nbsp;&bull;&nbsp;<span>&nbsp;2 mins read</span></h6></div>
      </a>
    </div>

  <!-- card-7 -->
  <div class="card">
  <a href="/gettingstarted" class="res-card">
    <img src="/img/blog-card-7.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
    <h2 class="res-header">Tips</h2>
    <div><h5>Featuring a video &#127916;</h5></div>
        <div><h6>5 months ago &nbsp;&bull;&nbsp;<span>&nbsp;1 min read</span></h6></div>
  </a>
  </div>


  <!-- card-8 -->

  <div class="card">
  <a href="/featuring" class="res-card">
    <img src="/img/blog-card-8.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
    <h2 class="res-header">Tips</h2>
    <div><h5>Setting up with stripe&#127970;</h5></div>
        <div><h6>5 months ago &nbsp;&bull;&nbsp;<span>&nbsp;1 min read</span></h6></div>
  </a>
  </div>

  <!-- card-9 -->
  <div class="card">
  <a href="/gettingstarted" class="res-card">
    <img src="/img/blog-card-9.jpeg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
    <h2 class="res-header">Tips</h2>
    <div><h5>The Smart Link</h5></div>
        <div><h6>5 months ago &nbsp;&bull;&nbsp;<span>&nbsp;2 mins read</span></h6></div>
     </a>
  </div>

  <!-- card-10 -->
  <div class="card">
    <a href="/featuring" class="res-card">
    <img src="/img/blog-card-10.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
    <h2 class="res-header">Tips</h2>
    <div><h5>Monetization for content creators</h5></div>
        <div><h6>5 months ago &nbsp;&bull;&nbsp;<span>&nbsp;2 mins read</span></h6></div>
  </a>
  </div>
  </div>
  <button class="glider-next"><i class="fas fa-long-arrow-alt-right res-btn"></i>
  </button>
</div>

<!-- main screen cards -->
  <div class="recommendation" id="responsive-hide" >
    <h3 class="recommendation">Recommended For You</h3>
  </div>

<!-- REST OF THE CARDS (big screen)-->
<div class="card-container" id="responsive-hide">
  <!-- CARD-3 -->
      <a href="commissions" class="main-card">
        <img src="/img/blog-card-13.jpg" alt="" class="main-card-img"><img src="/img/avatar-1.png" alt="" class="card-avatar-1">
        <h2 class="tips-card">Tips</h2>
        <div><h5>Taking Commissions&#128104;</h5></div>
            <div><h6>6 months ago &nbsp;&bull;&nbsp;<span>&nbsp;3 mins read</span></h6></div>
      </a>

      <!-- CARD-4 -->
      <a href="/featuring" class="main-card main-card-4">
        <img src="/img/blog-card-14.jpg" alt="" class="main-card-img">
        <img src="/img/avatar-1.png" alt="" class="card-avatar-1">
        <h2 class="tips-card">Tips</h2>

        <div><h5>&#128184;How much money do Youtubers really make?</h5></div>
            <div><h6>7 months ago &nbsp;&bull;&nbsp;<span>&nbsp;1 min read</span></h6></div>
      </a>

      <!-- CARD-5 -->

      <a href="/gettingstarted" class="main-card main-card-5">
        <img src="/img/blog-card-15.jpg" alt="" class="main-card-img">
        <img src="/img/avatar-1.png" alt="" class="card-avatar-1">
        <h2 class="tips-card">Tips</h2>
        <div><h5>&#128678;Getting started with your Selcouth profile</h5></div>
            <div><h6>7 months ago &nbsp;&bull;&nbsp;<span>&nbsp;3 mins read</span></h6></div>
      </a>
      </div>
  </div>
  <section class="footer">
      <p>Selcouth Blog &copy;2020&nbsp; &bull; &nbsp;Published with Ghost</p>
    <a href="https://www.facebook.com/Selcouth_Technology-447776299305161"><i class="fab fa-facebook-square fb fa-2x"></i></a>
    <a href="https://twitter.com/"><i class="fab fa-twitter fa-2x twitter"></i></a>
      <p>Javascript license information</p>
  </section>

  <script src="/js/overlay-slider.js"></script>
  <script>
        function closeMenu(){
  document.getElementById("navbar").style.height = "0%";
  document.getElementById("arrow").style.zIndex = "1";
}
function openMenu(){
  document.getElementById("navbar").style.height = "100%";
  document.getElementById("arrow").style.zIndex = "-1";
}
  </script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/js/glider.min.js"></script>
<script src="/js/app.js"></script>
<script>
    $(".progressCounter").progressScroll();
</script>

</body>
</html>