<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Roboto:ital,wght@0,400;1,300;1,400&display=swap" rel="stylesheet">   
  <link rel='icon' href='../img/selcouth.png' type='img'>
  <link rel="stylesheet" href="/css/pricing.css"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <title>Selcouth || Merchants</title>
</head>
<body>
  <div class="changelog-navbar">
    <a href="/"><div class="changelog-logo"></div></a>
    <a class="changelog-btn">
      <span class="clg-hamburger"></span>
      <span class="clg-hamburger"></span>
      <span class="clg-hamburger"></span>
    </a>
    <div class="menu">
      <a href="/pricing">Pricing</a>
      <a href="/shop">Marketplace</a>
      <a href="/updates">Updates</a>
      <a href="/creators">For Creators</a>
    </div>
  </div>

  <div class="top-area">
    <div class="left-part">
      <span class="shopify">For Shopify merchants
      </span>
      <p>Give your <span>affiliates</span>  a brand to be proud of.</p>
      <p class="shopify-desc" >The only fully customizable branded affiliate  portal on Shopify.</p>
      <a href="#"><img src="/img/shopify-logo.png" class="shopify-logo" alt=""></a>
      <p class="install"><b>Free to install.</b> Set your own commissions.
      </p>
    </div>
  </div>
  <!-- switch -->
  <div class="switch">
    <input type="radio" class="switch-input checked" name="view" value="week" id="week" checked onclick="check()">
    <label for="week" class="switch-label switch-label-off checked">Monthly</label>
    <input type="radio" class="switch-input" name="view" value="month" id="month" onclick="check()">
    <label for="month" class="switch-label switch-label-on">Yearly</label>
    <span class="switch-selection"></span>
  </div>
  <!-- table -->
  <div class="panel panel-primary">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="no-border"></th>
            <th class="each-title"><h4>Starter</h4>
            <p class="small">Everything you need
              to get started</p> <br>
              <span class="each-span">$0 /mo</span><br>
              <a href="#" class="btn">Install</a>
            </th>
            <th class="each-title bg-color radius position" id="off-position">
              <small class="off">-20 %</small>
              <h4>Professional</h4>
              <p class="small">Powerful features
                for growing brands</p><br>
                <span class="each-span text1">$20 /mo</span>
                <span class="each-span text2">$16 /mo 
                  <br>
                </span>
                <br><br>
                <a href="#" class="btn">Start 14-day trail</a>
  
            </th>
            <th class="each-title"><h4>Enterprise</h4>
            <p class="small">Already operating
              at scale?</p><br>
              <span class="each-span">Custom</span><br>
              <a href="#" class="btn">Contact us</a>
            </th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="main-heading">Affiliate</th>  
            <td ></td>          
            <td class="bg-color"></td>          
            <td></td>          
          </tr>
          <tr>
            <th scope="row" class="small-heading">Unlimited affiliates
            </th>
            <td><i class="far fa-check-circle fa-2x"></i></td>
            <td class="bg-color radius-bottom"><i class="far fa-check-circle fa-2x"></i></td>
            <td><i class="far fa-check-circle fa-2x"></i></td>
            
            
          </tr>
          <tr>
            <th scope="row" class="small-heading">Discount codes
            </th>
            <td><i class="far fa-check-circle fa-2x"></i></td>
            <td class="bg-color"> <i class="far fa-check-circle fa-2x"></i></td>
            <td><i class="far fa-check-circle fa-2x"></i></td>       
          </tr>
          <tr>
            <th scope="row" class="small-heading">Referral links
            </th>
            <td><i class="far fa-check-circle fa-2x"></i></td>
            <td class="bg-color"><i class="far fa-check-circle fa-2x"></i></td>
            <td><i class="far fa-check-circle fa-2x"></i></td>       
          </tr>
          <tr>
            <th scope="row" class="small-heading">Custom invite emails
            </th>
            <td><i class="far fa-check-circle fa-2x"></i></td>
            <td class="bg-color"><i class="far fa-check-circle fa-2x"></i></td>
            <td><i class="far fa-check-circle fa-2x"></i></td>       
          </tr>
          <tr>
            <th scope="row" class="small-heading">Bulk payouts</th>
            <td><i class="far fa-check-circle fa-2x"></i></td>
            <td class="bg-color"><i class="far fa-check-circle fa-2x"></i></td>
            <td><i class="far fa-check-circle fa-2x"></i></td>       
          </tr>
          <tr>
            <th scope="row" class="small-heading">Branded affiliate sign-up</th>
            <td></td>
            <td class="bg-color"><i class="far fa-check-circle fa-2x"></i></td>
            <td><i class="far fa-check-circle fa-2x"></i></td>       
          </tr>
          <tr>
            <th scope="row" class="small-heading">Branded affiliate portal</th>
            <td></td>
            <td class="bg-color"><i class="far fa-check-circle fa-2x"></i></td>
            <td><i class="far fa-check-circle fa-2x"></i></td>       
          </tr>
          <tr>
            <th scope="row"  class="main-heading">Influencer</th>
            <td></td>
            <td class="bg-color"></td>
            <td></td>       
          </tr>
          <tr>
            <th scope="row" class="small-heading">Creator dashboard</th>
            <td><i class="far fa-check-circle fa-2x"></i></td>
            <td class="bg-color"><i class="far fa-check-circle fa-2x"></i></td>
            <td><i class="far fa-check-circle fa-2x"></i></td>       
          </tr>
          <tr>
            <th scope="row" class="small-heading">Import from Instagram</th>
            <td><i class="far fa-check-circle fa-2x"></i></td>
            <td class="bg-color"><i class="far fa-check-circle fa-2x"></i></td>
            <td><i class="far fa-check-circle fa-2x"></i></td>       
          </tr> <tr>
            <th scope="row" class="small-heading">Creator recommendations</th>
            <td><i class="far fa-check-circle fa-2x"></i></td>
            <td class="bg-color"><i class="far fa-check-circle fa-2x"></i></td>
            <td><i class="far fa-check-circle fa-2x"></i></td>       
          </tr>
          <tr>
            <th scope="row" class="small-heading">Invite creators as affiliates</th>
            <td><i class="far fa-check-circle fa-2x"></i></td>
            <td class="bg-color"><i class="far fa-check-circle fa-2x"></i></td>
            <td><i class="far fa-check-circle fa-2x"></i></td>       
          </tr>
          <tr>
            <th scope="row" class="small-heading">Advanced creator analytics</th>
            <td class="bold">10 /mo</td>
            <td class="bold bg-color">1000 /mo
            </td>
            <td class="bold">Unlimited</td>       
          </tr>
          <tr>
            <th scope="row" class="small-heading">Product samples workflow</th>
            <td></td>
            <td class="bg-color"><i class="far fa-check-circle fa-2x"></i></td>
            <td><i class="far fa-check-circle fa-2x"></i></td>       
          </tr>
          <tr>
            <th scope="row" class="small-heading">Access to marketplace</th>
            <td></td>
            <td class="bold bg-color">100 products</td>
            <td class="bold"> Unlimited</td>       
          </tr>
          <tr>
            <th scope="row" class="main-heading">Support</th>
            <td></td>
            <td class="bg-color"></td>
            <td></td>       
          </tr>
          <tr>
            <th scope="row" class="small-heading">Email</th>
            <td><i class="far fa-check-circle fa-2x"></i></td>
            <td class="bg-color"><i class="far fa-check-circle fa-2x"></i></td>
            <td><i class="far fa-check-circle fa-2x"></i></td>       
          </tr>
          <tr>
            <th scope="row" class="small-heading">Intercom chat</th>
            <td class="radius-bottom"><i class="far fa-check-circle fa-2x"></i></td>
            <td class="bg-color"><i class="far fa-check-circle fa-2x"></i></td>
            <td><i class="far fa-check-circle fa-2x"></i></td>       
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <section class="footer">
   
    <div class="footer-container">
      <div class="logo-footer">
        <img id="selcouth" src="/img/selcouth.png" alt="">
      </div>
      <div class="company-info">
        <h4>Company</h4>
        <a href="/creators">For Creators</a>
        <a href="/terms">Terms and Conditions</a>
        <a href="/privacy">Privacy</a>
      </div>
      <div class="company-resources">
        <h4>Resources</h4>
        <a href="/pricing">Pricing</a>
        <a href="/blogs">Blog</a>
      </div>
      <div class="company-support">
        <h4>Support</h4>
        <a href="/contact">Help Centers</a>
        <a href="/updates">Updates</a>
      </div>
      <div class="backedby">
        <h4>Backed By</h4>
    <a href="#">support@selcouth.ai</a> 
    <div class="socials">
      <i class="fab fa-instagram"></i><i class="fab fa-twitter"></i>
  
    </div>
         
      </div>
    </div>
    
  </section>
<script>
  function check() 
  {
    var checkBox = document.getElementById("week");
    var text1 = document.getElementsByClassName("text1");
    var text2 = document.getElementsByClassName("text2");
    var text3 = document.getElementsByClassName('off');
    for (var i = 0; i < text1.length; i++) 
    {
      if (checkBox.checked == true) 
      {
        text1[i].style.display = "block";
        text2[i].style.display = "none";
        text3[i].style.display = "none";
      } else 
      {
        text1[i].style.display = "none";
        text2[i].style.display = "block";
        text3[i].style.display = "block";
      
      }
    }
  }
  check();
</script>
  <script>
    // merchant navbar
$(".changelog-btn").on('click', function(){
$('.menu').toggleClass('show');

});

  </script>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  
  <script type="text/javascript">
    $(document).ready(function(){
      $('.menu-toggle').click(function(){
        $('.menu-toggle').toggleClass('active')
        $('ul li').toggleClass('active')
      });
    });
  </script>
  <script src="/js/app.js"></script>
  <script>
    let navbar = document.querySelector('.changelog-navbar');
    var scrollPrev = window.pageYOffset;
    window.onscroll = function(){
      var scrollCur = window.pageYOffset;
      if(scrollPrev > scrollCur){
        navbar.style.top = "0";
      }else{
        navbar.style.top = "-90px";
  
      }
      scrollPrev = scrollCur;
    }
      $('nav ul li').click(function(){
        $(this).addClass("active").siblings().removeClass("active");
      });
    </script>
</body>
</html>






































