<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Roboto:ital,wght@0,400;1,300;1,400&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="icon" href="../img/selcouth.png" type="img" />
    <link rel="stylesheet" href="../css/privacy.css" />
    <title>Privacy || policy</title>
  </head>
  <body>
    <div class="privacy-container">
      <div class="privacy-top-content">
        <a href="/"><img
          class="privacy-logo"
          src="../img/selcouth-privacy-removebg-preview.png"
          alt=""
        /></a>
        <a href="/creators" class="only-bg">For Creators</a>
      </div>
      <div class="other-top-content">
        <h1>Privacy Policy</h1>
        <p>Efective as of November 23, 2020</p>
      </div>
    </div>
    <div class="privacy-all-content">
      <h1>About Selcouth</h1>
      <p>
        Selcouth connects content creators with their audiences. We help content
        creators make websites that curate their content from different
        platforms for their audiences, sell digital goods, allow audiences to
        submit Requests to them and support them, and facilitate partnerships
        with merchants to sell products. Merchants can work with content
        creators through the Selcouth platform, such as by using the Selcouth
        Social Selling application in the Shopify app store or joining other
        affiliate marketplaces.
      </p>
      <h1>Personal information we collect</h1>
      <p>
        Information you provide to us. Personal information you may provide to
        us through the Service or otherwise includes:
      </p>
      <li>
        <strong>Contact data</strong>
        , such as your first and last name, email address,mailing address, and
        phone number.
      </li>
      <li>
        <strong>Profile data</strong>, such as your username and password that
        you set to establish an online account with us, social network handles,
        biographical details, photographs (we use a content creator’s public
        Instagram photo as their default profile photo), links and descriptions
        that you add to your profile, interests, preferences, and any other
        information that you add to your account profile.
      </li>
      <li>
        <strong>Communications</strong> that we exchange, including when you
        contact us with questions or feedback, through social media, or
        otherwise, and that you exchange with others on or through the Service.
      </li>
      <li>
        <strong>Payments and transactional</strong> data needed to complete your
        orders, Requests, Support, or payments on or through the Service (such
        as payment card information, billing and shipping information, payment
        processor information).
      </li>
      <li>
        <strong>Marketing data</strong>, such as your preferences for receiving
        communications about our or our partners’ products, services,
        activities, and events, and details about how you engage with our
        communications.
      </li>
      <li>
        <strong>Content</strong> that you upload or share to the Service,
        including text, photos, and videos in connection with Requests,
        products, digital goods and your profile.
      </li>
      <li>
        <strong>Product data</strong>, such as the description of a product or
        digital good for sale, its price, and its commission.
      </li>
      <li>
        <strong>Other information</strong> that we may collect which is not
        specifically listed here, which we will use as described in this Privacy
        Policy or as otherwise described at the time of collection.
      </li>
      <li>
        <strong>Cookies</strong>. Some of our automatic data collection is
        facilitated by cookies and similar technologies.
      </li>
      <li>
        <strong>Data about others</strong>. Users of the Service may have the
        opportunity to refer friends or other contacts to us and share their
        contact information with us. Please do not refer someone to us or share
        their contact information with us unless you have their permission to do
        so.
      </li>
      <h1>Data about others</h1>
      <p>
        We use your personal information for the following purposes or as
        otherwise described at the time we collect it:
      </p>
      <li>provide, operate and improve the Service and our business;</li>
      <li>process and track your orders;</li>
      <li>facilitate payments;</li>
      <li>
        enable security features of the Service, such as by sending you security
        codes via email, and remembering devices from which you have previously
        logged in;
      </li>
      <li>
        communicate with you about the Service, including by sending
        announcements, updates, security alerts, and support and administrative
        messages;
      </li>
      <h1>How we share your personal information</h1>
      <p>
        We may share your personal information with the following parties and as
        otherwise described in this Privacy Policy or at the time of collection:
      </p>
      <li>
        <strong>Affiliates</strong>. Our corporate parent, subsidiaries, and
        affiliates, for purposes consistent with this Privacy Policy.
      </li>
      <li>
        <strong>Service providers.</strong> Companies and individuals that
        provide services on our behalf or help us operate the Service or our
        business (such as information technology, hosting, customer relationship
        management and support, payment processing, email delivery, advertising,
        marketing, and website analytics).
      </li>
      <li>
        <strong>Professional advisors</strong>. Professional advisors, such as
        lawyers, auditors, bankers and insurers, where necessary in the course
        of the professional services that they render to us.
      </li>
      <li>
        <strong>Authorities and others</strong>. Law enforcement, government
        authorities, and private parties, as we believe in good faith to be
        necessary or appropriate for the compliance and protection purposes
        described above.
      </li>
      <li>
        <strong>Business transferees</strong>. Acquiring and other relevant
        parties to business transactions (or potential transactions) involving a
        corporate divestiture, merger, consolidation, acquisition,
        reorganization, sale or other disposition of all or any portion of the
        business or assets of, or equity interests in, Beacons or our affiliates
        (including, in connection with a bankruptcy or similar proceedings).
      </li>
      <li><strong>Other users and the public</strong>. You may choose to make publicly visible some of the information on your profile.  If you submit a Request to a content creator, you can choose to make the Request public or private.  Any information that is not private may be associated with your profile and can be collected and used by others.  We cannot control who reads the information that you make viewable or what they may choose to do with it.
</li>
<h1>Other sites and services
</h1>
<p>The Service may contain links to websites, mobile applications, and other online services operated by third parties.  These links are not an endorsement of, or representation that we are affiliated with, any third party.  In addition, our content may be included on web pages or in mobile applications or other online services that are not associated with us. We do not control websites, mobile applications or online services operated by third parties, and we are not responsible for their actions.

</p>
<h1>Security</h1>
<p>We employ a number of technical, organizational and physical safeguards designed to protect the personal information we collect.  However, security risk is inherent in all internet and information technologies and we cannot guarantee the security of your personal information.

</p>
<h1>International data transfer
</h1>
<p>We are headquartered in the United States and may use service providers that operate in other countries. Your personal information may be transferred to the United States or other locations where privacy laws may not be as protective as those in your state, province, or country.

</p>
<h1>Changes to this Privacy Policy
</h1>
<p>We reserve the right to modify this Privacy Policy at any time. If we make changes to this Privacy Policy, we will notify you by updating the date of this Privacy Policy and posting it on the Service. If required by law we will also provide notification of changes in another way that we believe is reasonably likely to reach you, such as via email or another manner through the Service.  Any modifications to this Privacy Policy will be effective upon our posting the modified version (or as otherwise indicated at the time of posting). In all cases, your use of the Service after the effective date of any modified Privacy Policy indicates your acceptance of the modified Privacy Policy.

</p>
<h1>How to contact us
</h1>
<li>Email: selcouth.management@gmail.com
</li>
<li>Phone: +977981-2235442
</li>
  </body>
</html>