<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Roboto:ital,wght@0,400;1,300;1,400&display=swap" rel="stylesheet">
  <link rel='icon' href='../img/selcouth.png' type='img'>
  <link rel="stylesheet" href="/css/shop.css">
  <title>Selcouth || Shop</title>
</head>
<body>
  <div class="container">
    <!-- first-section -->
    <section class="first-section">
      <div class="navbar">
        <!-- logo -->
          <a href="/" class="logo"><img src="/img/selcouth.png" id="selcouth" alt=""></a>
          <a href="/" class="logo-only"><img id="selcouth2" src="/img/selcouth.png" alt=""></a>
        <!-- navbar-items -->
        <div class="navbar-items">
          <a href="/blogs" class="navbar-item">Blog</a>
          <a href="/gallery" class="navbar-item">Gallery</a>
          <a href="/shop" class="navbar-item">Shop</a>
          <a href="/merchants"class="navbar-item">Merchants</a>
          </div>
      </div>
        <!-- signin button -->
        <div class="drop-down-container">
          <div class="signin">
            <a href="/signup">Sign In</a>
          </div> 
        </div>
       

        <!-- menubar -->
         <div class="dropdown" >
           <button  onclick="show_hide()" class="button">&#9776;</button>
           <!-- drop-content -->
           <div style="display: none;" id="drop-content" >
            <a href="/blogs">Blog</a>
             <a href="/gallery">Gallery</a>
             <a href="/shop">Shop</a>
             <a href="/merchants">Merchants</a>         
           </div>
         </div>
    </section>
    <!-- second section -->

   <section class="second-section">
    <h4 class="shop-heading">The Shop</h4>
      <div class="circle circle-1"></div>    
      <div class="circle circle-2"></div>    
      <div class="circle circle-3"></div>
        <div class="circle-4"></div>
        <div class="circle-5"></div>
        <div class="circle-6"></div>
        </div>
        </div>      
    </section>
    
    <section class="shop-section">
      <!-- card-1 -->
     <a href="/home"><div class="each-shop-card shop-card-1">
       <h4 class="shop-card-title">Home</h4>
     </div></a>

     <!-- card-2 -->
     <a href="/foodanddrink"><div class="each-shop-card shop-card-2">
       <h4 class="shop-card-title">Food & Drink</h4>
     </div></a>

     <!-- card-3 -->
     <a href="/home"><div class="each-shop-card shop-card-3">
       <h4 class="shop-card-title">Women</h4>
     </div></a>

     <!-- card-4 -->
     <a href="/home"><div class="each-shop-card shop-card-4">
       <h4 class="shop-card-title">Beauty & Wellness</h4>
     </div></a>

     <!-- card-5 -->
     <a href="/jewlery"><div class="each-shop-card shop-card-5">
       <h4 class="shop-card-title">Jewlery</h4>
     </div></a>

     <!-- card-6 -->
     <a href="/paper"><div class="each-shop-card shop-card-6">
       <h4 class="shop-card-title">Paper & Novelty</h4>
     </div></a>

     <!-- card-7 -->
     <a href="/home"><div class="each-shop-card shop-card-7">
       <h4 class="shop-card-title">Kids & Baby</h4>
     </div></a>

     <!-- card-8 -->
     <a href="/paper"><div class="each-shop-card shop-card-8">
       <h4 class="shop-card-title">Pets</h4>
     </div></a>

     <!-- card-9 -->
     <a href="/foodanddrink"><div class="each-shop-card shop-card-9">
       <h4 class="shop-card-title">Men</h4>
     </div></a>

     <!-- card-10 -->
     <a href="/jewlery"><div class="each-shop-card shop-card-10">
       <h4 class="shop-card-title">Sports & Fitness</h4>
     </div></a>

     <!-- card-11 -->
     <a href="/paper"><div class="each-shop-card shop-card-11">
       <h4 class="shop-card-title">Other</h4>
     </div></a>

    </section>
    
  </div>
  <script src="/js/app.js"></script>
</body>
</html>