<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel='icon' href='../img/selcouth.png' type='img'>
  <link rel="stylesheet" href="/css/blogs.css">
  <title>Selcouth || Tips</title>
</head>
<body>

  <div class="menu">
    <div id="content" class="dropdown-content">
     <div class="articles-container">
       <h5 class="recent">Recent articles</h5>
       <div class="articles-area">


         <!-- article-1 -->
         <div class="each-article">
           <a href="">
           <img src="img/blog-card-2.jpg" class="article-img" alt="">
           <h4>Optimizing your links for clicks &#128170;</h4>
           <span>2 months ago</span>        
          </div></a>    


           <!-- <article-2--  --> -->
            <div class="each-article">
              <a href="">
              <img src="img/blog-card-11.jpeg" class="article-img" alt="">
              <h4>Building your email list&#127969;.</h4>
              <span>6 months ago</span>             
           </div></a>    

          <!-- articles - 3 -->
          <div class="each-article">
            <a href="">
            <img src="img/blog-card-9.jpeg" class="article-img" alt="">
            <h4>The Smart Link&#9889;</h4>
            <span>5 months ago</span>            
         </div></a>    

       <!-- article 4 -->
        <div class="each-article">
        <a href="">
        <img src="img/blog-card-8.jpg" class="article-img" alt="">
        <h4>Setting up with stripe&#127970;</h4>
        <span>5 months ago</span>       
         </a></div>
       </div>
       <div class="article-tags">Tags</div>

       <div class="other-info">
         <span>Research</span>
         <span>Tips</span>
       </div>
      </div>
    </div>
  </div>


<!-- small screen dropdown -->
<div class="overlay">
  <div class="three-dots"onclick="openMenu()">&hellip;</div>
 <a href="/"><img id="selcouth" src="/img/selcouth.png" alt=""></a>
</div>
<div class="menu-container" id="navbar">
  <span class="closebtn" onclick="closeMenu()">&times;</span>
  <div class="menu-content">
    <div class="top-part">
      <a href="/">Selcouth</a>
      <a href="/blogs">Blog</a>
      <a href="/tips">Tips</a>
      <a href="/research">Research</a>
      </div>
      <h4>Recent articles</h4>

      <div class="middle-part">
      <div class="container">
        <div class="carousel">
          <div class="track">
            <!-- card-1 -->
            <div class="card-overlay">
              <a href="/gettingstarted" class="res-card">
                <img src="/img/blog-card-13.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
                <div class="overlay-header"><h5>Taking Commissions &#128104;</h5></div>
                <div class="overlay-month"><h6>6 months ago</h6></div>
              </a>
              </div>

              <!-- card-2 -->
              <div class="card-overlay">
                <a href="/gettingstarted" class="res-card">
                  <img src="/img/blog-card-7.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
                  <div class="overlay-header"><h5>Featuring a video &#127916;</h5></div>
                  <div class="overlay-month"><h6>5 months ago</h6></div>
                </a>
                </div>
  

                <!-- card-3 -->


                <div class="card-overlay">
                  <a href="/gettingstarted" class="res-card">
                    <img src="/img/blog-card-8.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
                    <div class="overlay-header"><h5>Setting up with stripe&#127970;</h5></div>
                    <div class="overlay-month"><h6>5 months ago</h6></div>
                  </a>
                  </div>


              <!-- card-4 -->

              <div class="card-overlay">
                <a href="/gettingstarted" class="res-card">
                  <img src="/img/blog-card-9.jpeg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
                  <div class="overlay-header"><h5>The Smart Link</h5></div>
                  <div class="overlay-month"><h6>5 months ago</h6></div>
                </a>
                </div>



                <!-- card-5 -->


                <div class="card-overlay">
                  <a href="/gettingstarted" class="res-card">
                    <img src="/img/blog-card-10.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
                    <div class="overlay-header"><h5>Monetization for content creators</h5></div>
                    <div class="overlay-month"><h6>4 months ago</h6></div>
                  </a>
                  </div>

                  <!-- card -6 -->
                  <div class="card-overlay">
                    <a href="/gettingstarted" class="res-card">
                      <img src="/img/blog-card-2.jpg" alt="" class="res-card-img"><img src="/img/avatar-1.png" alt="" class="res-avatar">
                      <div class="overlay-header"><h5>Optimizing your links for clicks</h5></div>
                      <div class="overlay-month"><h6>7 months ago</h6></div>
                    </a>
                  </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-part">
        <p>Tags</p>
        <a href="/research">Research</a><a href="/tips">Tips</a>
      </div>
      </div>
    </div>
  </div>
</div>





  <div class="blogs-section-container">
    <section class="first-section" id="responsive-hide">
      <div class="navbar">
        <!-- logo -->
        <div class="logo-div">
          <a href="/" class="blog-logo"><img id="selcouth" src="/img/selcouth.png" alt=""></a>
          
        </div>
         <!-- navbar-items -->
         <div class="blog-navbar-items">
          <a href="/" class="navbar-item">Selcouth</a>
          <a href="/blogs" class="navbar-item">Blogs</a>
          <a href="/tips" class="navbar-item">Tips</a>
          <a href="/research"class="navbar-item">Research</a>
          <a href="#" class="drop-down"><i onclick="myfun()" id="clicks" class="dropdown fas fa-ellipsis-h"></a></i>
        </div>
      </div> 
      </section>
  
  
       <!-- blog-image SECTION -->
    <div class="blog-image">
     <div class="blog-title">
      Selcouth Blog <br> <br>
      <span class="blog-span">Tips, research and stories from a startup to build the best toold for the creator community</span> 
     </div>
    </div>
  
  
  <!-- blog post section -->
  <section class="blog-post">
  
    <!-- first big card -->
  
    <a href="/gettingstarted" class="blog-card-top">
      <div class="featured">   
        <div class="avatar-1"><img src="img/avatar-1.png" alt="">
          <h4 class="tips">Tips</h4>
        </div>
        <div class="featured-icon"><i class="fas fa-star"></i> Featured</div>
      </div> 
      <div class="blog-card-middle">
        <h4 class="blog-card-1-title"><span class="traffic">&#128678;</span>Getting started with your Selcouth profile</h4>
      </div>
      <div class="blog-card-bottom">
        <h6>7 months ago &bull;<span> 3 mins read</span></h6>
      </div>
    </a>
  
    <a href="/featuring" class="blog-card-top-2">
      <div class="card-2">
        <img src="img/blog-card-2.jpg" alt="" class="blog-card-img"><img src="/img/avatar-1.png" alt="" class="card-avatar">
        <div class="card-2-info">
          <div><h5>Optimizing your links for clicks &#128170;</h5></div>
          <div><h6>7 months ago &nbsp;&bull;&nbsp;<span>&nbsp;3 mins read</span></h6></div>
        </div>     
      </div>
    </a>
  </section>
  
  <!-- REST OF THE CARDS -->
  <div class="card-container">
        <!-- CARD-3 -->
        <a href="/featuring" class="main-card main-card-1">
          <img src="/img/blog-card-3.jpg" alt="" class="main-card-img"><img src="/img/avatar-1.png" alt="" class="card-avatar-1">
          <h2 class="tips-card">Tips</h2>
          <div><h5>Leveling up your links &#128279;
          </h5></div>
              <div><h6>4 months ago &nbsp;&bull;&nbsp;<span>&nbsp;2 mins read</span></h6></div>
        </a>
  
        <!-- CARD-4 -->
        <a href="/gettingstarted" class="main-card main-card-4">
          <img src="/img/blog-card-4.jpg" alt="" class="main-card-img">
          <img src="/img/avatar-1.png" alt="" class="card-avatar-1">
          <h2 class="tips-card">Tips</h2>
  
          <div><h5>Customizing your page 	&#127912;</h5></div>
              <div><h6>4 months ago &nbsp;&bull;&nbsp;<span>&nbsp;3 mins read</span></h6></div>
        </a>
  
        <!-- CARD-5 -->
  
        <a href="/featuring" class="main-card main-card-5">
          <img src="/img/blog-card-5.jpg" alt="" class="main-card-img">
          <img src="/img/avatar-1.png" alt="" class="card-avatar-1">
          <h2 class="tips-card">Tips</h2>
          <div><h5>Your weekly update email &#129299;</h5></div>
              <div><h6>4 months ago &nbsp;&bull;&nbsp;<span>&nbsp;3 mins read</span></h6></div>
        </a>

        <!-- CARD-6 -->
  
        <a href="/gettingstarted" class="main-card main-card-6">
          <img src="/img/blog-card-6.jpg" alt="" class="main-card-img">
          <img src="/img/avatar-1.png" alt="" class="card-avatar-1">
          <h2 class="tips-card">Tips</h2>
          <div><h5>Enabling visitors to support your content&#129395;
          </h5></div>
              <div><h6>5 months ago &nbsp;&bull;&nbsp;<span>&nbsp;2 mins read</span></h6></div>
        </a>
  
        <!-- CARD-7 -->
        <a href="/featuring" class="main-card main-card-7">
          <img src="/img/blog-card-7.jpg" alt="" class="main-card-img">
          <img src="/img/avatar-1.png" alt="" class="card-avatar-1">
          <h2 class="tips-card">Tips</h2>
          <div><h5>Featuring a video &#127916;</h5></div>
              <div><h6>5 months ago &nbsp;&bull;&nbsp;<span>&nbsp;1 min read</span></h6></div>
        </a>
  
        <!-- card-8 -->
        <a href="/featuring" class="main-card main-card-8">
          <img src="/img/blog-card-8.jpg" alt="" class="main-card-img">
          <img src="/img/avatar-1.png" alt="" class="card-avatar-1">
          <h2 class="tips-card">Tips</h2>
          <div><h5>Setting up with stripe &#127970;</h5></div>
              <div><h6>5 months ago &nbsp;&bull;&nbsp;<span>&nbsp;1 min read</span></h6></div>
        </a>
  
        <!-- card-9 -->
  
        <a href="/featuring" class="main-card main-card-9">
          <img src="/img/blog-card-9.jpeg" alt="" class="main-card-img">
          <img src="/img/avatar-1.png" alt="" class="card-avatar-1">
          <h2 class="tips-card">Tips</h2>
          <div><h5>The Smart Link&#9889;</h5></div>
              <div><h6>5 months ago &nbsp;&bull;&nbsp;<span>&nbsp;2 mins read</span></h6></div>
        </a>

      <!-- card-10 -->
  
      <a href="/gettingstarted" class="main-card main-card-10">
        <img src="/img/blog-card-10.jpg" alt="" class="main-card-img">
        <img src="/img/avatar-1.png" alt="" class="card-avatar-1">
        <h2 class="tips-card">Tips</h2>
        <div><h5>Monetization for content creators</h5></div>
            <div><h6>5 months ago &nbsp;&bull;&nbsp;<span>&nbsp;2 mins read</span></h6></div>
        </a>

        <!-- card-11 -->
  
        <a href="/featuring" class="main-card main-card-11">
        <img src="/img/blog-card-11.jpeg" alt="" class="main-card-img">
        <img src="/img/avatar-1.png" alt="" class="card-avatar-1">
        <h2 class="tips-card">Tips</h2>
        <div><h5>Building your email list&#127969;.</h5></div>
            <div><h6>6 months ago &nbsp;&bull;&nbsp;<span>&nbsp;2 mins read</span></h6></div>
        </a>

        <!-- card-12 -->
        
        <a href="/featuring" class="main-card main-card-12">
          <img src="/img/blog-card-11.jpeg" alt="" class="main-card-img">
          <img src="/img/avatar-1.png" alt="" class="card-avatar-1">
          <h2 class="tips-card">Tips</h2>
          <div><h5>Building your email list&#127969;.</h5></div>
              <div><h6>6 months ago &nbsp;&bull;&nbsp;<span>&nbsp;2 mins read</span></h6></div>
          </a>

          <!-- card-13 -->
          <a href="/featuring" class="main-card main-card-13">
            <img src="/img/blog-card-2.jpg" alt="" class="main-card-img">
            <img src="/img/avatar-1.png" alt="" class="card-avatar-1">
            <h2 class="tips-card">Tips</h2>
            <div><h5>Optimizing your links for clicks &#128170;</h5></div>
                <div><h6>6 months ago &nbsp;&bull;&nbsp;<span>&nbsp;2 mins read</span></h6></div>
            </a>

  </div>
    <div class="page-btn">
      <div>
        <p>Page 1 of 2 <a href="/tips2"><i class="fas fa-arrow-right page-arrow"></i></a></p>   
      </div>
    </div>
    <section class="footer">
        <p>Selcouth Blog &copy;2020&nbsp; &bull; &nbsp;Published with Ghost</p>
       <a href="https://www.facebook.com/Selcouth_Technology-447776299305161"><i class="fab fa-facebook-square fb fa-2x"></i></a>
       <a href="https://twitter.com/"><i class="fab fa-twitter fa-2x twitter"></i></a>
        <p>Javascript license information</p>
    </section>
  </div>
  <script src="/js/overlay-slider.js"></script>
  <script>
        function closeMenu(){
  document.getElementById("navbar").style.height = "0%";
  document.getElementById("arrow").style.zIndex = "1";
}
function openMenu(){
  document.getElementById("navbar").style.height = "100%";
  document.getElementById("arrow").style.zIndex = "-1";
}
  </script>
  <script src="/js/app.js"></script>
</body>
</html>