<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Roboto:ital,wght@0,400;1,300;1,400&display=swap" rel="stylesheet">    

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel='icon' href='../img/selcouth.png' type='img'>
  <link rel="stylesheet" href="/css/updates.css">
  <title>ASMI | Changelog</title>

</head>
<body>
    <nav>
    <div class="logo"><a href="/"></a>
    </div>
    <div class="beacons"><a href="/"><img id="selcouth" src="/img/selcouth.png" alt=""> </a>
    </div>
    <a href="/updates"><div class="changelog">
    <i class="fas fa-flag"> <span>Changelog</span></i>   
  </div></a>
    </nav>

    <div class="top-part">
      <div class="top-part-heading">
        <h4>Selcouth Updates</h4>
        <p>Here's what's new this week 🎉</p>
      </div>
      <section class="all-posts">
        <!-- post-1 -->
       <div class="each-post">
        <div class="post-left-part">
          <h4>September 1, 2020
          </h4>
        </div>
        <div class="post-right-part">
          <a href="/changelog"><img src="/img/changelog-1.png" class="shadow" alt=""></a>
          <div class="enter-post">
            <a href="/changelog">Branded affiliate portal and custom domains<i class="fas fa-long-arrow-alt-right"></i></a>
            <div class="post-desc"><h4>Branded affiliate portal and custom domains
            </h4>
            <p>On our new Professional plan, customize your affiliate portal to express your brand! Our app now comes with the best-looking affiliate signup and affiliate portal on Shopify — choose your colors and fonts, and upload assets to make it look and feel like yours, with no coding required.
              <br><br>
            You can also add your own custom domain, like <a href="#">affiliates.myshop.com</a> so that you control your entire affiliate and customer journeys.</p>
            <img src="/img/changelog-2.png" alt="">
          </div>
          </div>
        </div>
      </div>

      <!-- post-2 -->

      <div class="each-post">
        <div class="post-left-part">
          <h4>August 25, 2020
          </h4>
        </div>
        <div class="post-right-part">
          <a href="/changelog"><img src="img/changelog-3.png" class="shadow" alt=""></a>
          <div class="enter-post">
            <a href="/changelog">Invite anyone to be an affiliate<i class="fas fa-long-arrow-alt-right"></i></a>
            <div class="post-desc"><h4>Invite anyone to be an affiliate
            </h4>
            <p>You can now invite anyone to be your affiliate through Selcouth, so you won't need to use multiple affiliate apps anymore! You can generate links and codes and manage all of your affiliates from the Affiliates tab of your dashboard.</p>
            <img src="/img/changelog-4.png" alt="">
            <h4>Invite creators as traditional affiliates
            </h4>
            <p>In addition to making your products available to creators on Selcouth to sell for a commission, you can also easily generate affiliate links and discount codes for creators to work with them in a more traditional affiliate model</p>
            <img src="/img/changelog-5.png" alt="">

          </div>
          </div>
        </div>
      </div>

      <!-- post-3 -->

      <div class="each-post">
        <div class="post-left-part">
          <h4>August 17, 2020
          </h4>
        </div>
        <div class="post-right-part">
          <a href="/changelog"><img src="img/changelog-6.png" class="shadow" alt=""></a>
          <div class="enter-post">
            <a href="/changelog">Marketplace redesign<i class="fas fa-long-arrow-alt-right"></i></a>
            <div class="post-desc"><h4>Marketplace redesign
            </h4>
            <p class="border-bottom">Our marketplace got a huge design upgrade this week! We've drastically improved the design of your beacons.ai/shop pages, which is where creators can browse your products and add your products to their pages. Add some visual assets on the Settings tab of the Social Selling app and then go to your Selcouth Shop page to check it out.</p>
            <h4>Rating creators for better recommendations
            </h4>
            <p>We've released the first version of our AI recommendation system that will help you find creators to work with. By rating creators on how good of a fit they are for your brand, you can help train our AI to recommend better creators for you in the future. The more creators you rate, the more powerful the recommendation system will become.</p>

          </div>
          </div>
        </div>
      </div>

      <!-- post-4 -->

      <div class="each-post">
      <div class="post-left-part">
        <h4>August 10, 2020
        </h4>
      </div>
      <div class="post-right-part">
        <a href="/changelog"><img src="img/changelog-7.png" class="shadow" alt=""></a>
        <div class="enter-post">
          <a href="/changelog">Approve creators to request and sell products<i class="fas fa-long-arrow-alt-right"></i></a>
          <div class="post-desc"><h4>Approve creators that you work with
          </h4>
          <p class="border-bottom">In the Settings tab, you now have the option to work only with creators that you have added in "My creators". By turning this on, you can have more control over your brand, and only work with creators that you choose.</p>
          <h4>Small improvements</h4>
          <ul>
            <li>Set your primary contact email for Social Selling-related notifications. This can be different than your main Shopify email (e.g., if the store owner is different than the person managing the app).</li>
          </ul>

        </div>
        </div>
      </div>
      </div>

      <!-- post-5 -->

      <div class="each-post">
      <div class="post-left-part">
        <h4>August 10, 2020
        </h4>
      </div>
      <div class="post-right-part">
        <a href="/changelog"><img src="img/changelog-8.png" class="shadow" alt=""></a>
        <div class="enter-post">
          <a href="/changelog">Customize your Shop page and use templates for email invites<i class="fas fa-long-arrow-alt-right"></i></a>
          <div class="post-desc font"><h4>Customize your Shop page
          </h4>
          <p class="border-bottom">Now you can add a profile picture, store description, and Instagram link to your <a href="#">shop</a> page to better market your brand to creators.</p>
          <h4>Track product requests lifecycle
          </h4>
          <p class="border-bottom">After merchants approve free product requests, we now automatically pull in fulfillment and tracking information so that it's just one click away.</p>
          <h4>Email templates for contacting creators </h4>
          <p class="border-bottom">Customize your email templates that you send to creators. Selcouth is currently an invite-only service for creators, so email templates to creators who aren't on Selcouth will also include a secure invite link to let them create a Selcouth account.</p>    
          <h4>Multiple categories for merchants</h4>
          <p class="border-bottom">Merchants can now choose multiple categories for their store, which will allow us to make better recommendations for both merchants and creators. Merchants will also show up under multiple categories in beacons.ai/shop. </p>
          <h4>Small improvements
          </h4>
          <ul>
            <li>Ability to contact existing Selcouth creators through the app</li>
            <li>Fixed a known Shopify bug for Safari users</li>
            <li>Added buttons to re-launch tutorials for different features</li>
          </ul>
        </div>
        </div>
      </div>
      </div>

        <!-- post-6 -->

      <div class="each-post">
      <div class="post-left-part">
        <h4>July 27, 2020
        </h4>
      </div>
      <div class="post-right-part">
        <a href="/changelog"><img src="img/changelog-9.png" class="shadow" alt=""></a>
        <div class="enter-post">
          <a href="/changelog">Improved product recommendations<i class="fas fa-long-arrow-alt-right"></i></a>
          <div class="post-desc"><h4>Improved product recommendations
          </h4>
          <p class="border-bottom">We improved the design for the product recommendations page that we show creators, making it easier for them to find products that are a good fit for them. Creators can now see how much they earn on each sale, and easily change their preferred product categories right from this page..</p>
          <h4>More creator info in product sample requests

          </h4>
          <p>We now display recent posts, location, number of followers, and engagement rate on each product request, putting all the information you need to make decisions at your fingertips</p>
          <h4>Small improvements
          </h4>
          <ul>
          <li> Send teammates a copy of email notifications when a creator requests product samples to anyone on your team</li>

          <li> Creators are now notified via email when their product sample request gets approved</li>

        <li> Added a banner on the Home tab to indicate pending product requests</li>

        <li> Filter creators on Selcouth by category</li>

        <li>Show number of creators in My creators and Active creators views</li>

        <li> Show inventory and sort by inventory on Products tab</li>
          </ul>
        </div>
        </div>
      </div>
      </div>

      <!-- post-7 -->

     <div class="each-post">
      <div class="post-left-part">
        <h4>July 27, 2020
        </h4>
      </div>
      <div class="post-right-part">
        <a href="/changelog"><img src="img/changelog-12.png" class="shadow" alt=""></a>
        <div class="enter-post">
          <a href="/changelog">Streamline sending product samples to creators<i class="fas fa-long-arrow-alt-right"></i></a>
          <div class="post-desc"><h4>Marketplace recommendations for creators
          </h4>
          <p class="border-bottom">One of our main goals is to continually improve our matching algorithms that connect brands and creators. To support this, creators can now choose which categories of products in the marketplace they are most interested in. We're using this data to make better matches between creators and brands.</p>

          <h4>Streamline sending product samples to creators</h4>

          <p>Sending product samples to creators is usually a drawn-out process that requires several back-and-forths to figure out what product to send and where to send it — and then you still need to manually input all the information in Shopify. <br> <br>

          Now creators can request product samples from merchants through Selcouth, and all merchants need to do is decide whether to approve the request. If the request is approved, an order with the creator's shipping address will be automatically created with a 100% discount applied.</p>

          <img src="img/changelog-10.png" alt="">
          <h4>Connect Instagram to automatically find creators that have tagged your brand</h4>
          <p>Now you can connect your brand's Instagram account to your Social Selling app to automatically find creators who have tagged your brand recently. We'll automatically pull their follower count and engagement ratio so that you can easily decide if you want to follow up.</p>
          <img src="img/changelog-11.png" alt="">
        </div>
        </div>
      </div>
      </div>


      <!-- post-8 -->

     <div class="each-post">
        <div class="post-left-part">
        <h4>July 13, 2020
        </h4>
      </div>
      <div class="post-right-part">
        <a href="/changelog"><img src="img/changelog-13.png" class="shadow" alt=""></a>
        <div class="enter-post">
          <a href="/changelog">Invite creators to Selcouth<i class="fas fa-long-arrow-alt-right"></i></a>
          <div class="post-desc font"><h4>Invite creators to Selcouth</h4>
          <p class="border-bottom">Instead of waiting passively for creators to find your products and start selling them, now you can invite creators to Selcouth to become affiliates for your brand. <br> <br>

            You can invite any creator with an email available with one click — we’ll send them an email letting them know that you’ve invited them to make a Selcouth account and work with your brand.</p>
          <h4>Add creators by uploading CSV
          </h4>
          <p class="border-bottom">Now that you can invite creators to Selcouth, who should you invite? <br> <br>

            Influencers that you've worked with before are a good place to start — they already know your brand, own your product, and might even have some content already. <br> <br>
            
            You can now add up to 100 creators at once with a CSV upload, no need to spend time adding them one by one!</p>
        </div>
        </div>
      </div>
    </div>



    <!-- post-9 -->

    <div class="each-post">
      <div class="post-left-part">
        <h4>July 6, 2020
        </h4>
      </div>
      <div class="post-right-part">
        <a href="/changelog"><img src="img/changelog-13.png" class="shadow" alt=""></a>
        <div class="enter-post">
          <a href="/changelog">Manage products by collection<i class="fas fa-long-arrow-alt-right"></i></a>
          <div class="post-desc font"><h4>Manage products by collection</h4>
          <p>We know that many merchants on Shopify manage their online stores using collections, so we’ve made it possible to use collections to manage your enabled products on Selcouth too! <br><br>

            Feel free to use existing collections, or if you prefer to keep things separate, we recommend creating a new collection called “Beacons” for products that you want to make available to creators.</p>
          <h4>Filter creators by followers and engagement
          </h4>
          <p> When evaluating creators, two of the most important factors are their followers and their engagement rate. Now you can filter and sort by both metrics for any creators on Selcouth and any creators that you add through the app.  </p>
        </div>
    </div>
  </div>
</div>
<a href="https://www.heraldhq.com/" class="center"><img src="img/changelog-herald.png" alt=""></a>
</section>
</div>  
</body>
</html>